n8n/diagnostics/ETRPSAUy7Up0bQwb_verify_normalize_image_fix.json
[{"updatedAt":"2026-06-04T16:51:23.000Z","createdAt":"2026-06-01T20:28:10.295Z","id":"ETRPSAUy7Up0bQwb","name":"Product Video Generator - Brand Context Selector Module","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":{"video_title":"บริการล้างแอร์บ้าน","hook":"แอร์ไม่เย็น มีกลิ่นอับ?","voiceover_full":"แอร์ไม่เย็น มีกลิ่นอับ อาจถึงเวลาล้างแอร์แล้ว","scenes":[{"scene_number":1,"duration_sec":4,"text_on_screen":"แอร์ไม่เย็น?","voiceover":"แอร์ไม่เย็น มีกลิ่นอับใช่ไหม","visual_instruction":"ภาพแอร์บ้านพร้อมตัวหนังสือใหญ่","transition":"cut"}],"caption_reels":"แอร์ไม่เย็น มีกลิ่นอับ ทัก LINE เพื่อจองคิว","caption_tiktok":"ล้างแอร์บ้าน เริ่มต้น 700 บาท","caption_youtube_shorts":"บริการล้างแอร์บ้าน PA Cooling Solutions","hashtags":["ล้างแอร์","ช่างแอร์","PACooling"],"safety_notes":[]}},"id":"8a0245a4-eda0-4147-a27c-2f3011952723","name":"Video Script JSON Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2432,720],"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"b0b819c9-f782-47e5-a15d-c425ca31f987","name":"Merge Product + AI Script","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1984,624]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\nconst scenes = Array.isArray(item.scenes) ? item.scenes : [];\nconst fullText = [\n  item.video_title,\n  item.hook,\n  item.voiceover_full,\n  ...scenes.map(s => s.voiceover || s.voiceOver || s.voice_over || s.voice || s.text_on_screen || s.textOnScreen || '')\n].filter(Boolean).join(' ');\n\nconst bannedPhrases = [\n  'ดีที่สุด',\n  'อันดับ 1',\n  'อันดับหนึ่ง',\n  'การันตีผลลัพธ์ 100%',\n  'การันตี 100%',\n  'รักษาหาย',\n  'หายขาด'\n];\n\nconst foundIssues = [];\n\nfor (const phrase of bannedPhrases) {\n  if (fullText.includes(phrase)) {\n    foundIssues.push('พบคำเคลมเกินจริง: ' + phrase);\n  }\n}\n\nconst scriptStatus = foundIssues.length > 0 ? 'needs_review' : 'safe';\n\nreturn {\n  json: {\n    ...item,\n    safety_notes: foundIssues,\n    script_status: scriptStatus,\n    approval_status: 'pending_approval',\n    posting_allowed: false\n  }\n};"},"id":"8fa8043b-fd9b-42cd-9dde-3932089eb425","name":"Safety Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,624]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.script_status }}","rightValue":"safe","operator":{"type":"string","operation":"equals"},"id":"b9de4bd8-4f74-46e5-8fd6-247fc28f0cee"}],"combinator":"and"},"options":{}},"id":"c63a7b11-9126-4a74-9a7d-7cc051d6162a","name":"IF Script Safe","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1536,624]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"owner_message","value":"=⚠️ Product video script needs review\\nProduct ID: {{ $json.product_id }}\\nIssues: {{ ($json.safety_notes || []).join(', ') }}","type":"string"},{"id":"2","name":"status","value":"needs_review","type":"string"},{"id":"3","name":"created_at","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"8b00c941-d1d2-4bfb-900e-8cc816c1d9fc","name":"Notify Owner - Needs Review","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,720]},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const item = json;\n\n  const scenes =\n    Array.isArray(item.scenes) ? item.scenes :\n    Array.isArray(item.script) ? item.script :\n    Array.isArray(item.video_scenes) ? item.video_scenes :\n    [];\n\n  const voiceoverFull =\n    item.voiceover_full ||\n    item.voiceOverFull ||\n    item.voiceoverFull ||\n    item.voiceover ||\n    item.voiceOver ||\n    item.voice_over ||\n    item.narration ||\n    item.narration_text ||\n    scenes\n      .map(s =>\n        s.voiceover ||\n        s.voiceOver ||\n        s.voice_over ||\n        s.voice ||\n        s.text_on_screen ||\n        s.textOnScreen ||\n        ''\n      )\n      .filter(Boolean)\n      .join(' ');\n\n  if (!voiceoverFull || !voiceoverFull.trim()) {\n    throw new Error(\n      'Missing voiceover text. Current root keys: ' +\n      Object.keys(item).join(', ') +\n      ' | scene keys: ' +\n      (scenes[0] ? Object.keys(scenes[0]).join(', ') : 'no scenes')\n    );\n  }\n\n  const normalizedScenes = scenes.map((s, index) => ({\n    scene_number: s.scene_number || s.scene || index + 1,\n    duration_sec: Number(s.duration_sec || s.duration || 4),\n    text_on_screen: s.text_on_screen || s.textOnScreen || '',\n    voiceover: s.voiceover || s.voiceOver || s.voice_over || s.voice || '',\n    visual_instruction: s.visual_instruction || s.visualInstruction || '',\n    transition: s.transition || 'cut'\n  }));\n\n  return {\n    json: {\n      ...item,\n      scenes: normalizedScenes,\n      voiceover_full: voiceoverFull.trim(),\n      voiceover_char_count: voiceoverFull.trim().length,\n      voiceover_status: 'normalized'\n    }\n  };\n});"},"id":"30d36be1-8086-4e6a-99aa-0b3ebb42f9f2","name":"Normalize Voiceover Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1312,528]},{"parameters":{"jsCode":"const item = $json;\nconst scenes = Array.isArray(item.scenes) ? item.scenes : [];\n\nif (!scenes.length) {\n  throw new Error('Missing scenes for subtitle generation');\n}\n\nlet currentTime = 0;\n\nconst subtitles = scenes.map((scene, index) => {\n  const duration = Number(scene.duration_sec || scene.duration || 4);\n\n  const text =\n    scene.voiceover ||\n    scene.voiceOver ||\n    scene.voice_over ||\n    scene.voice ||\n    scene.text_on_screen ||\n    scene.textOnScreen ||\n    '';\n\n  if (!text.trim()) {\n    throw new Error(`Missing subtitle text at scene ${index + 1}`);\n  }\n\n  const subtitle = {\n    index: index + 1,\n    start: Number(currentTime.toFixed(2)),\n    end: Number((currentTime + duration).toFixed(2)),\n    text: text.trim(),\n  };\n\n  currentTime += duration;\n  return subtitle;\n});\n\nreturn {\n  json: {\n    ...item,\n    subtitles,\n    subtitle_status: 'generated',\n    total_duration_sec: Number(currentTime.toFixed(2)),\n  },\n};"},"id":"552966cb-47ca-459d-8a4e-11607b06b5c8","name":"Generate Subtitles From Scenes","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,704]},{"parameters":{"method":"POST","url":"https://api.phaya.io/api/v1/text-to-speech/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"prompt\": $json.voiceover_full, \"voice\": \"Charon\", \"temperature\": 0.8, \"style_instruction\": \"อ่านด้วยเสียงผู้ชาย สุขุม น่าเชื่อถือ ทรงพลัง ชัดถ้อยชัดคำ จังหวะปานกลาง ไม่เร่ง ไม่ขายเกินจริง เหมือนผู้เชี่ยวชาญอธิบายให้ลูกค้าเข้าใจ\" } }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"dbf58297-3bd8-47c9-9bb9-7b4d5eb3862a","name":"Phaya Generate TTS","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1088,464],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"amount":35},"id":"329cfb1c-af9d-4a70-8dec-033445ab9b37","name":"Wait 35s For Phaya","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-864,464],"webhookId":"9b21a9b0-9b48-4245-8b29-531b521cb91f"},{"parameters":{"url":"={{ 'https://api.phaya.io/api/v1/text-to-speech/status/' + $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"f9566691-a3e1-4a5f-aeb7-b72bedc67df7","name":"Poll Phaya TTS Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-640,464],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30bd9a90-f011-45c9-8ad8-a84b06dec952","leftValue":"={{ $json.status === 'COMPLETED' || $json.status === 'completed' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"693013a6-fac5-45b7-aff2-aba88fb136c1","name":"IF Phaya Completed","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-416,464]},{"parameters":{"amount":10},"id":"787a7f16-482a-4f8c-9c70-8e2927147b9f","name":"Wait 10s Retry Phaya","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-192,384],"webhookId":"54165013-bea1-41f5-bf46-f080679573b2"},{"parameters":{"url":"={{ 'https://api.phaya.io/api/v1/text-to-speech/status/' + $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"c560d61e-674f-44a4-be84-4804f42993af","name":"Poll Phaya TTS Status Retry","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[32,384],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5aff144d-376e-4c5b-8f84-57949357beaa","leftValue":"={{ $json.status === 'COMPLETED' || $json.status === 'completed' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"62340407-952d-45c0-9a7e-f5f124feade9","name":"IF Phaya Completed Retry","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,384]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"owner_message","value":"=⚠️ Phaya TTS not completed after retry\\nJob ID: {{ $json.job_id }}\\nStatus: {{ $json.status }}","type":"string"},{"id":"2","name":"status","value":"tts_not_ready","type":"string"},{"id":"3","name":"created_at","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"1ff2e25b-77a8-48f6-b6c2-aa3e36a48784","name":"Notify Owner - TTS Not Ready","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,720]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"ce0ce063-37d4-4299-9ac2-58d1116a314e","name":"Merge Subtitle + Audio","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,528]},{"parameters":{"jsCode":"const item = $json;\n\nconst imageUrls = Array.isArray(item.image_urls)\n  ? item.image_urls.filter(Boolean)\n  : [\n      item.image_url,\n      item.public_image_url,\n      item.product_image_url,\n    ].filter(Boolean);\n\nconst audioUrl =\n  item.audio_url ||\n  item.public_audio_url ||\n  item.audioUrl ||\n  item.publicAudioUrl ||\n  item.result?.audio_url ||\n  item.result?.url ||\n  item.data?.audio_url ||\n  item.data?.url ||\n  \"\";\n\nconst scenes = Array.isArray(item.scenes) && item.scenes.length\n  ? item.scenes\n  : [\n      {\n        scene_number: 1,\n        duration_sec: Number(item.duration_seconds || 4),\n        text: item.voiceover_full || item.text_preview || \"วิดีโอสินค้า\",\n        voiceover: item.voiceover_full || item.text_preview || \"วิดีโอสินค้า\",\n      },\n    ];\n\nconst subtitles = Array.isArray(item.subtitles) && item.subtitles.length\n  ? item.subtitles\n  : scenes.map((scene, index) => {\n      const start = scenes\n        .slice(0, index)\n        .reduce((sum, s) => sum + Number(s.duration_sec || 4), 0);\n      const end = start + Number(scene.duration_sec || 4);\n\n      return {\n        index: index + 1,\n        start,\n        end,\n        text: scene.voiceover || scene.text || \"วิดีโอสินค้า\",\n      };\n    });\n\nif (!imageUrls.length) {\n  throw new Error(\"Build Render Payload missing image_urls/public_image_url\");\n}\n\nif (!audioUrl) {\n  throw new Error(\"Build Render Payload missing audio_url/public_audio_url\");\n}\nfunction cleanThaiOverlay(value, fallback = '') {\n  return String(value || fallback)\n    .normalize('NFC')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/[^\\u0E00-\\u0E7F0-9\\s.,!?()\\-:]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst overlayTitle =\n  item.brand_context === 'syncflow'\n    ? 'แชทไม่หาย งานไม่หลุด'\n    : 'แอร์ผิดปกติ อย่าปล่อยไว้';\n\nconst safeTitle = cleanThaiOverlay(\n  overlayTitle,\n  'แอร์ผิดปกติ อย่าปล่อยไว้'\n);\n\nreturn {\n  json: {\n    ...item,\n\n    render_status: \"payload_ready\",\n\n    product_id: item.product_id || item.job_id || `line-video-${Date.now()}`,\n\n    // เปลี่ยน default ไม่ให้กลับไปเป็น \"สินค้าไทย PAA\"\n    product_name: safeTitle,\n\n    // ใช้ title ไทยล้วน ป้องกัน □□□\n    title: safeTitle,\n    video_title: safeTitle,\n\n    output_format: \"mp4\",\n\n    width: 1080,\n    height: 1920,\n    fps: 30,\n\n    brand: {\n      ...(item.brand || {}),\n      // Force renderer title source to Thai-only text; never use English brand/business names.\n      name: safeTitle,\n      background_color: item.brand?.background_color || item.brand?.background || item.brand_color || \"#0f172a\",\n      text_color: item.brand?.text_color || item.brand?.foreground || \"#ffffff\",\n      primary_color: item.brand?.primary_color || item.brand?.accent || \"#22c55e\",\n    },\n\n    scenes,\n    subtitles,\n\n    image_urls: imageUrls,\n    image_url: imageUrls[0],\n    audio_url: audioUrl,\n\n    overlay_mode: \"none\",\n    center_overlay_enabled: false,\n    show_center_overlay: false,\n    accent_line_enabled: false,\n    progress_line_enabled: false,\n    show_bottom_line: false,\n\n    real_posting_enabled: false,\n    posting_allowed: false,\n  },\n};"},"id":"ec95d9df-0a14-406b-898c-30836b31d469","name":"Build Render Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,528]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $json;\n\nif (json.render_status !== 'payload_ready') {\n  throw new Error('Render payload is not ready');\n}\n\nif (!Array.isArray(json.scenes) || json.scenes.length === 0) {\n  throw new Error('Missing scenes');\n}\n\nif (!Array.isArray(json.subtitles) || json.subtitles.length === 0) {\n  throw new Error('Missing subtitles');\n}\n\nif (!json.audio_url) {\n  throw new Error('Missing audio_url');\n}\n\nif (!json.width || !json.height || !json.fps) {\n  throw new Error('Missing video render dimensions/fps');\n}\n\nreturn {\n  json: {\n    ...json,\n    validation_status: 'ok',\n    validated_at: new Date().toISOString(),\n  }\n};"},"id":"84b7b462-d70f-4689-95e3-24e3cc8e1199","name":"Validate Render Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,528]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e8ae014-c2d8-491a-95f5-ef6ae7073a4b","leftValue":"={{ $env.VIDEO_RENDER_MOCK !== 'false' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"092078d7-a24e-4ff4-9386-5aa882f49f87","name":"IF Use Mock Render","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1152,528]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $json;\nconst id = json.product_id || 'TEST-VIDEO-001';\n\nreturn {\n  json: {\n    ...json,\n    ok: true,\n    render_mode: 'mock',\n    video_url: `https://example.com/rendered/${id}.mp4`,\n    thumbnail_url: `https://example.com/rendered/${id}.jpg`,\n    duration_sec: json.duration_target_sec || 30,\n    file_size_mb: 8.5,\n    render_status: 'completed'\n  }\n};"},"id":"a0b6c816-8643-481c-b9fe-2f53bbf2ea9b","name":"Mock Render Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,384]},{"parameters":{"method":"POST","url":"http://paa-video-renderer:8099/render-video","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":300000}},"id":"28d8e7cd-1519-479d-a794-15f5d7ad7bd9","name":"Call Render Service","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1376,672]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"d4385412-2983-4138-996a-560fbcaea1fc","name":"Merge Render Payload + Result","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1600,608]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const baseApprovalUrl = 'https://admin.paaair.online/webhook/video-approval';\nconst publicMediaBase = 'https://admin.paaair.online/media/';\n\nfunction cleanString(value) {\n  return String(value || '').trim();\n}\n\nfunction toPublicMediaUrl(value) {\n  const raw = cleanString(value);\n  if (!raw) return '';\n\n  if (raw.startsWith('https://admin.paaair.online/media/')) {\n    return raw;\n  }\n\n  const marker = '/media/';\n  const index = raw.indexOf(marker);\n\n  if (index >= 0) {\n    const filename = raw.slice(index + marker.length);\n    return publicMediaBase + encodeURIComponent(filename).replace(/%2F/g, '/');\n  }\n\n  return raw;\n}\n\nconst jobId = cleanString(\n  $json.job_id ||\n  $json.product_id ||\n  $json.messageId ||\n  $json.message_id\n);\n\nconst productId = cleanString($json.product_id || jobId);\n\nconst token = cleanString(\n  $json.approval_token ||\n  $json.token ||\n  $json.messageId ||\n  jobId\n);\n\nif (!jobId) {\n  throw new Error('Missing job_id/product_id/messageId for approval URL');\n}\n\nif (!token) {\n  throw new Error('Missing approval token for approval URL');\n}\n\nconst videoUrl = toPublicMediaUrl(\n  $json.public_video_url ||\n  $json.video_url ||\n  $json.output_url ||\n  $json.render_url ||\n  $json.media_url\n);\n\nconst thumbnailUrl = toPublicMediaUrl(\n  $json.public_thumbnail_url ||\n  $json.thumbnail_url ||\n  $json.image_url ||\n  ''\n);\n\nreturn {\n  json: {\n    ...$json,\n\n    job_id: jobId,\n    product_id: productId,\n    approval_token: token,\n\n    video_url: videoUrl,\n    public_video_url: videoUrl,\n    thumbnail_url: thumbnailUrl,\n    public_thumbnail_url: thumbnailUrl,\n\n    approve_url:\n      baseApprovalUrl +\n      '?action=approve' +\n      '&job_id=' +\n      encodeURIComponent(jobId) +\n      '&product_id=' +\n      encodeURIComponent(productId) +\n      '&token=' +\n      encodeURIComponent(token),\n\n    reject_url:\n      baseApprovalUrl +\n      '?action=reject' +\n      '&job_id=' +\n      encodeURIComponent(jobId) +\n      '&product_id=' +\n      encodeURIComponent(productId) +\n      '&token=' +\n      encodeURIComponent(token),\n\n    real_posting_enabled: false,\n    posting_allowed: false,\n  },\n};"},"id":"dbf580a4-9c64-43ae-ade1-5afea42ed701","name":"Normalize Render Result + Approval Links","type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,432]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"created_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"2","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"3","name":"script_status","value":"={{ $json.script_status || 'safe' }}","type":"string"},{"id":"4","name":"voice_status","value":"completed","type":"string"},{"id":"5","name":"render_status","value":"={{ $json.render_status }}","type":"string"},{"id":"6","name":"approval_status","value":"pending_approval","type":"string"},{"id":"7","name":"post_status","value":"not_posted","type":"string"},{"id":"8","name":"video_url","value":"={{ $json.video_url }}","type":"string"}]},"options":{}},"id":"8d5b800e-aaa0-418b-b598-e6c3570b89ed","name":"Log Workflow Execution","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2272,432]},{"parameters":{"path":"video-approval","responseMode":"lastNode","options":{}},"id":"7492878e-83ad-423e-945b-fc9ffea3a9ec","name":"Approval Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5024,1856],"webhookId":"3156c016-dab8-4bc7-b0c6-b6750caab139"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const q = $json.query || $json;\n\nconst action = String(q.action || '').trim().toLowerCase();\nconst token = String(q.token || '').trim();\nconst jobId = String(q.job_id || q.product_id || '').trim();\nconst productId = String(q.product_id || q.job_id || '').trim();\n\nconst validAction = action === 'approve' || action === 'reject';\nconst tokenMatchesGeneratedLink = Boolean(\n  token && jobId && (\n    token === jobId ||\n    token === productId ||\n    jobId === `line-image-${token}` ||\n    productId === `line-image-${token}` ||\n    jobId.endsWith(token) ||\n    productId.endsWith(token)\n  )\n);\n\nif (!validAction || !token || !jobId || !tokenMatchesGeneratedLink) {\n  return {\n    json: {\n      ok: false,\n      valid: false,\n      reason: 'invalid_approval_request',\n      action,\n      job_id: jobId,\n      product_id: productId,\n      real_posting_enabled: false,\n      posting_allowed: false,\n      owner_response: 'ลิงก์อนุมัติไม่ถูกต้องหรือหมดอายุ',\n    },\n  };\n}\n\nreturn {\n  json: {\n    ...$json,\n    ok: true,\n    valid: true,\n    action,\n    job_id: jobId,\n    product_id: productId,\n    approval_status: 'validated',\n    real_posting_enabled: false,\n    posting_allowed: false,\n  },\n};"},"id":"4cc40048-ef74-4a27-88ed-1b161ee0e92c","name":"Validate Approval Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4800,1856]},{"parameters":{"rules":{"values":[{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}]}},{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"reject","operator":{"type":"string","operation":"equals"}}]}}]},"options":{"fallbackOutput":"none"}},"id":"55c8d374-52f6-42e4-92f7-37726aca9955","name":"Check Approval Action","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-4576,1856]},{"parameters":{"assignments":{"assignments":[{"id":"job_id","name":"job_id","value":"={{ $json.job_id }}","type":"string"},{"id":"product_id","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"status","name":"status","value":"approved","type":"string"},{"id":"approval_status","name":"approval_status","value":"approved","type":"string"},{"id":"approved_at","name":"approved_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"real_posting_enabled","name":"real_posting_enabled","value":false,"type":"boolean"},{"id":"posting_allowed","name":"posting_allowed","value":false,"type":"boolean"},{"id":"owner_response","name":"owner_response","value":"อนุมัติแล้ว แต่ยังไม่โพสต์จริง เพราะ real_posting_enabled=false","type":"string"},{"id":"message","name":"message","value":"อนุมัติแล้ว แต่ยังไม่โพสต์จริง เพราะ real_posting_enabled=false","type":"string"}]},"options":{}},"id":"dc6f5278-bf0a-44e5-b5a0-20675dd6ae19","name":"Update Status - Approved","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,1760]},{"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.posting_allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}},{"leftValue":"={{ $env.REAL_POSTING_ENABLED }}","rightValue":"true","operator":{"type":"string","operation":"equals"}}]},"options":{}},"id":"db0f8332-afb3-4bd9-bd10-0a2fcdafa977","name":"Check Posting Allowed","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5024,1216]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"platforms","value":"={{ [{ name: 'Instagram Reels' }, { name: 'TikTok' }, { name: 'YouTube Shorts' }] }}","type":"array"},{"id":"2","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"3","name":"ready_to_post","value":true,"type":"boolean"},{"id":"4","name":"note","value":"REAL_POSTING_ENABLED is true - ready to post plan only","type":"string"}]},"options":{}},"id":"c577b947-ae9c-4a30-b527-30806cb17bf4","name":"Prepare Post Plan","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,1312]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"message","value":"Posting disabled - REAL_POSTING_ENABLED is false or posting_allowed is false","type":"string"},{"id":"2","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"3","name":"timestamp","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"1f80e037-d806-465f-936e-c967a93bf75e","name":"Log - Posting Disabled","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4800,1120]},{"parameters":{"assignments":{"assignments":[{"id":"job_id","name":"job_id","value":"={{ $json.job_id }}","type":"string"},{"id":"product_id","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"status","name":"status","value":"rejected","type":"string"},{"id":"approval_status","name":"approval_status","value":"rejected","type":"string"},{"id":"rejected_at","name":"rejected_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"real_posting_enabled","name":"real_posting_enabled","value":false,"type":"boolean"},{"id":"posting_allowed","name":"posting_allowed","value":false,"type":"boolean"},{"id":"owner_response","name":"owner_response","value":"ยกเลิกวิดีโอนี้แล้ว ยังไม่มีการโพสต์จริง","type":"string"},{"id":"message","name":"message","value":"ยกเลิกวิดีโอนี้แล้ว ยังไม่มีการโพสต์จริง","type":"string"}]},"options":{}},"id":"9158802c-70f9-4255-9134-e2a1c170cf4c","name":"Update Status - Rejected","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,1952]},{"parameters":{"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2560,720],"id":"9095f32b-16ff-4e0c-bc2f-d65f0b44bcbe","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"T5PsjgxwRNTvErpt","name":"OpenRouter free"}}},{"parameters":{"operation":"send","to":"={{ $json.owner_line_user_id || $json.userId || $json.user_id || $json.ownerLineUserId || \"U58a57bb40803980514411bfc0c9757e1\" }}","messages":{"values":[{"altText":"วิดีโอพร้อมตรวจแล้ว","flexJson":"={{ JSON.stringify({\n  type: \"bubble\",\n  body: {\n    type: \"box\",\n    layout: \"vertical\",\n    spacing: \"md\",\n    contents: [\n      {\n        type: \"text\",\n        text: \"🎬 วิดีโอพร้อมตรวจแล้ว\",\n        weight: \"bold\",\n        size: \"lg\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: (($json.brand_context === \"syncflow\") ? \"SyncFlow\" : \"PAA Air\") + \" | \" + ($json.product_id || $json.job_id || \"-\"),\n        size: \"sm\",\n        color: \"#666666\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"หัวข้อ: \" + ($json.video_title || $json.title || \"-\"),\n        size: \"sm\",\n        wrap: true\n      },\n      {\n        type: \"separator\",\n        margin: \"md\"\n      },\n      {\n        type: \"text\",\n        text: \"สถานะ: ยังไม่โพสต์จริง\",\n        size: \"xs\",\n        color: \"#999999\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"real_posting_enabled=false\",\n        size: \"xxs\",\n        color: \"#999999\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"posting_allowed=false\",\n        size: \"xxs\",\n        color: \"#999999\",\n        wrap: true\n      }\n    ]\n  },\n  footer: {\n    type: \"box\",\n    layout: \"vertical\",\n    spacing: \"sm\",\n    contents: [\n      {\n        type: \"button\",\n        style: \"primary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"▶️ เปิดวิดีโอ\",\n          uri: String($json.public_video_url || $json.video_url || \"https://admin.paaair.online\")\n        }\n      },\n      {\n        type: \"button\",\n        style: \"primary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"✅ อนุมัติ\",\n          uri: String($json.approve_url || \"https://admin.paaair.online\")\n        }\n      },\n      {\n        type: \"button\",\n        style: \"secondary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"❌ ไม่ใช้วิดีโอนี้\",\n          uri: String($json.reject_url || \"https://admin.paaair.online\")\n        }\n      }\n    ]\n  }\n}) }}","type":"flex"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[2048,432],"id":"155c5fe4-8d12-410b-8051-c41f122f3642","name":"Line Messaging","credentials":{"lineMessagingApi":{"id":"dv1qBRSHVe1Dx2vM","name":"Reel clip"}}},{"parameters":{"promptType":"define","text":"=สร้างสคริปต์วิดีโอขายสินค้า/บริการจากข้อมูลนี้:\n\nสินค้า/บริการ:\n{{ $json.product_name }}\n\nกลุ่มลูกค้า:\n{{ $json.target_customer }}\n\nปัญหาลูกค้า:\n{{ $json.pain_point }}\n\nจุดเด่น:\n{{ $json.benefits }}\n\nราคา/โปรโมชั่น:\n{{ $json.offer }}\n\nCall to Action:\n{{ $json.call_to_action }}\n\nเงื่อนไข:\n- ภาษาไทย\n- Hook ต้องแรงใน 3 วินาทีแรก\n- ความยาวรวม 20–45 วินาที\n- แบ่งเป็น 5–7 scenes\n- แต่ละ scene มี text_on_screen สั้นมาก\n- ทุก scene ต้องมี voiceover\n- ห้ามใช้คำเคลมเกินจริง เช่น ดีที่สุด อันดับ 1 การันตี 100%\n- ห้ามแต่งราคาหรือโปรเอง\n- เหมาะกับมือถือแนวตั้ง 9:16\n- คืนค่าเป็น JSON เท่านั้น","hasOutputParser":true,"options":{"systemMessage":"คุณคือครีเอเตอร์วิดีโอสั้นของ PAA Air Service\n\nบริบทธุรกิจ:\n- PAA Air Service ให้บริการล้างแอร์ ซ่อมแอร์ ติดตั้งแอร์ ย้ายแอร์ และงานระบบความเย็น\n- พื้นที่หลักคือ สมุทรปราการ กรุงเทพฯ และปริมณฑล\n- ลูกค้าคือเจ้าของบ้าน ร้านค้า อาคาร โรงงาน และธุรกิจที่มีปัญหาแอร์\n- โทนต้องมืออาชีพ เข้าใจง่าย สุภาพ ไม่ขายแรงเกินไป\n- ห้ามใช้คำว่า สินค้าไทย ช้อปปิ้ง สั่งซื้อสินค้า\n- ถ้าภาพเป็นท่อ คราบ น้ำมัน สนิม อุปกรณ์ หรือหน้างาน ให้ตีความเป็นงานตรวจเช็ก ซ่อม หรือบำรุงรักษาแอร์\n- ห้ามเดาราคา ถ้าไม่มีข้อมูล\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nภาพหรือบริบท:\n{{$json.visual_context || \"ภาพหน้างานบริการแอร์\"}}\n\nบริการ:\n{{$json.product_name || \"บริการตรวจเช็กและซ่อมแอร์\"}}\n\nพื้นที่ให้บริการ:\n{{$json.service_area || \"สมุทรปราการ กรุงเทพฯ และปริมณฑล\"}}\n\nกลุ่มลูกค้า:\n{{$json.target_customer || \"เจ้าของบ้าน ร้านค้า อาคาร โรงงาน หรือธุรกิจที่มีปัญหาแอร์\"}}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\n\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม:\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE\",\n  \"call_to_action\": \"ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ\"\n}\n\nข้อกำหนด:\n- scenes 3 ถึง 5 ฉาก\n- text บนจอแต่ละฉากไม่เกิน 22 ตัวอักษร\n- voiceover ต้องเหมือนคนจริง ไม่แข็ง\n- ใช้คำว่า แอร์ หน้างาน ตรวจเช็ก ซ่อม ล้างแอร์ ได้ตามบริบท\n- ห้ามใช้ emoji\n- ห้ามใช้เครื่องหมายพิเศษ","maxIterations":3}},"id":"2559a8dc-06b8-49ea-a164-ce7eabf15097","name":"Generate PAA Air Script","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2560,496]},{"parameters":{"promptType":"define","text":"=สร้างสคริปต์วิดีโอขายสินค้า/บริการจากข้อมูลนี้:\n\nสินค้า/บริการ:\n{{ $json.product_name }}\n\nกลุ่มลูกค้า:\n{{ $json.target_customer }}\n\nปัญหาลูกค้า:\n{{ $json.pain_point }}\n\nจุดเด่น:\n{{ $json.benefits }}\n\nราคา/โปรโมชั่น:\n{{ $json.offer }}\n\nCall to Action:\n{{ $json.call_to_action }}\n\nเงื่อนไข:\n- ภาษาไทย\n- Hook ต้องแรงใน 3 วินาทีแรก\n- ความยาวรวม 20–45 วินาที\n- แบ่งเป็น 5–7 scenes\n- แต่ละ scene มี text_on_screen สั้นมาก\n- ทุก scene ต้องมี voiceover\n- ห้ามใช้คำเคลมเกินจริง เช่น ดีที่สุด อันดับ 1 การันตี 100%\n- ห้ามแต่งราคาหรือโปรเอง\n- เหมาะกับมือถือแนวตั้ง 9:16\n- คืนค่าเป็น JSON เท่านั้น","hasOutputParser":true,"options":{"systemMessage":"=const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const ai_prompt = `\nคุณคือครีเอเตอร์วิดีโอสั้นของ SyncFlow by PAA Tech\n\nบริบทธุรกิจ:\n- SyncFlow คือระบบช่วยธุรกิจบริการรับแชท เก็บข้อมูลงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE\n- กลุ่มลูกค้าคือ เจ้าของธุรกิจบริการ แอดมินร้าน ทีมช่าง ร้านซ่อม สปา คลินิก และธุรกิจที่รับงานจากแชท\n- จุดขายหลักคือ แชทไม่หาย งานไม่หลุด ทีมเห็นสถานะเดียวกัน ลดงานซ้ำของแอดมิน\n- ห้ามใช้คำว่า สินค้าไทย สั่งซื้อสินค้า ช้อปปิ้ง\n- ห้ามใช้คำว่า งานแอร์ ยกเว้นผู้ใช้ระบุว่าเป็นธุรกิจช่างแอร์\n- หลีกเลี่ยงศัพท์ยาก เช่น lead CRM automation ถ้าใช้ต้องอธิบายเป็นภาษาง่าย\n- ใช้คำง่าย เช่น ลูกค้าทักมา เก็บเป็นงาน แจ้งเตือนทีม ไม่ลืมตามงาน เห็นคิวงานชัดเจน\n- โทนทันสมัย มืออาชีพ เข้าใจง่าย ไม่ขายฝันเกินจริง\n- ห้ามพูดว่าระบบทำแทนคนทั้งหมด\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nบริบทภาพหรือระบบ: ${json.visual_context || 'ภาพระบบจัดการแชทและคิวงานของธุรกิจบริการ'}\nบริการ: ${json.product_name || 'ระบบรับแชทและจัดการงานอัตโนมัติ'}\nกลุ่มเป้าหมาย: ${json.target_customer || 'เจ้าของธุรกิจบริการที่รับงานผ่านแชท'}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE หรือดูเดโม\",\n  \"call_to_action\": \"ทัก LINE เพื่อดูเดโม SyncFlow\"\n}\n`;\n\n  return {\n    json: {\n      ...json,\n      brand_context: 'syncflow',\n      business_name: 'SyncFlow by PAA Tech',\n      brand_name: 'SyncFlow by PAA Tech',\n      product_name: 'ระบบจัดการแชทและงานบริการ',\n      title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      video_title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      ai_prompt,\n      ai_script_json: {\n        hook: 'ลูกค้าทักมา แต่งานยังหลุดไหม',\n        voiceover_full: 'หลายธุรกิจรับงานผ่านแชททุกวัน แต่พอแชทเยอะ ข้อมูลก็กระจาย งานหลุด และทีมตามต่อยาก SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE ให้เจ้าของเห็นภาพรวมชัดขึ้น ทัก LINE เพื่อดูเดโมได้เลย',\n        scenes: [\n          { scene_number: 1, duration_sec: 4, text: 'แชทเยอะงานหลุด', voiceover: 'หลายธุรกิจรับงานผ่านแชททุกวัน', visual_instruction: 'ภาพแชทลูกค้าหลายรายการ', transition: 'fade' },\n          { scene_number: 2, duration_sec: 5, text: 'เก็บเป็นงานทันที', voiceover: 'SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน', visual_instruction: 'ภาพแชทไหลเข้าเป็นคิวงาน', transition: 'fade' },\n          { scene_number: 3, duration_sec: 5, text: 'แจ้งเตือนทีม', voiceover: 'ทีมเห็นสถานะเดียวกันและตามงานต่อได้ง่ายขึ้น', visual_instruction: 'ภาพแจ้งเตือนผ่าน LINE', transition: 'fade' }\n        ],\n        caption_reels: 'แชทไม่หาย งานไม่หลุด SyncFlow ช่วยธุรกิจบริการเก็บงานจากแชทและแจ้งเตือนทีมผ่าน LINE ทักเพื่อดูเดโม',\n        call_to_action: 'ทัก LINE เพื่อดูเดโม SyncFlow'\n      },\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  };\n});","maxIterations":3}},"id":"7d50f1d9-11a4-43fa-a79e-c150d771dc62","name":"Generate SyncFlow Script","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2560,896]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction cleanString(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nfunction cleanText(value, fallback = '') {\n  return cleanString(value, fallback)\n    .normalize('NFC')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/[^\\u0E00-\\u0E7Fa-zA-Z0-9\\s.,!?()\\-:]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractJson(value) {\n  if (typeof value === 'object' && value !== null) return value;\n\n  const raw = String(value ?? '').trim();\n\n  if (!raw) return {};\n\n  try {\n    return JSON.parse(raw);\n  } catch (_) {}\n\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (_) {}\n  }\n\n  return {};\n}\n\nreturn items.map(({ json }) => {\n  const candidate =\n    json.ai_script_json ||\n    json.output ||\n    json.text ||\n    json.response ||\n    json.result ||\n    json.message ||\n    json.data ||\n    json;\n\n  const parsed = extractJson(candidate);\n\n  const hook = cleanText(parsed.hook || json.hook, '');\n  const voiceoverFull = cleanText(\n    parsed.voiceover_full ||\n    json.voiceover_full ||\n    parsed.voiceover ||\n    json.voiceover ||\n    '',\n    ''\n  );\n\n  const scenesRaw = Array.isArray(parsed.scenes)\n    ? parsed.scenes\n    : Array.isArray(json.scenes)\n      ? json.scenes\n      : [];\n\n  const scenes = scenesRaw.slice(0, 5).map((scene, index) => {\n    const text = cleanText(scene.text || scene.title || hook || 'ข้อความบนจอ', 'ข้อความบนจอ');\n    const voiceover = cleanText(scene.voiceover || scene.text || voiceoverFull || text, text);\n\n    return {\n      scene_number: Number(scene.scene_number || index + 1),\n      duration_sec: Number(scene.duration_sec || 4),\n      text: text.slice(0, 60),\n      voiceover,\n      visual_instruction: cleanText(scene.visual_instruction || '', ''),\n      transition: cleanText(scene.transition || 'fade', 'fade'),\n    };\n  });\n\n  const finalScenes = scenes.length\n    ? scenes\n    : [\n        {\n          scene_number: 1,\n          duration_sec: 4,\n          text: cleanText(hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n          voiceover: cleanText(voiceoverFull || hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n          visual_instruction: '',\n          transition: 'fade',\n        },\n      ];\n\n  const finalVoiceover = voiceoverFull || finalScenes.map(s => s.voiceover).join(' ');\n\n  if (!finalVoiceover) {\n    throw new Error('Missing voiceover_full from AI script output');\n  }\n\n  return {\n    json: {\n      ...json,\n\n      hook,\n      voiceover_full: finalVoiceover,\n      scenes: finalScenes,\n\n      caption_reels: cleanText(parsed.caption_reels || json.caption_reels, ''),\n      call_to_action: cleanText(\n        parsed.call_to_action ||\n        json.call_to_action ||\n        (json.brand_context === 'syncflow'\n          ? 'ทัก LINE เพื่อดูเดโม SyncFlow'\n          : 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ'),\n        ''\n      ),\n\n      script_status: 'ready',\n      script_normalized_at: new Date().toISOString(),\n\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"0e3a649a-29be-477f-a32f-2bd617897b36","name":"Normalize Script Output1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2208,752]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction clean(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nreturn items.map(({ json }) => {\n  const raw = clean(json.brand_context || json.brandContext || $env.DEFAULT_VIDEO_BRAND_CONTEXT || 'paa_air').toLowerCase();\n  const brand_context = raw.includes('sync') ? 'syncflow' : 'paa_air';\n  return { json: { ...json, brand_context } };\n});"},"id":"648a90e8-9dc0-4191-bd18-bea02c589a83","name":"Set Brand Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3008,752]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d5a65c-416a-40f2-9013-1a4ba34aa20f","leftValue":"={{$json.brand_context}}","rightValue":"paa_air","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"paa_air"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87c9cadd-fa55-4fdf-87d0-4cae34b342d8","leftValue":"={{$json.brand_context}}","rightValue":"syncflow","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"syncflow"}]},"options":{}},"id":"acb2df0f-dec8-48d9-b799-a72537faba4a","name":"Switch Brand Context","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2784,752]},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const ai_prompt = `\nคุณคือครีเอเตอร์วิดีโอสั้นของ PAA Air Service\n\nบริบทธุรกิจ:\n- PAA Air Service ให้บริการล้างแอร์ ซ่อมแอร์ ติดตั้งแอร์ ย้ายแอร์ และงานระบบความเย็น\n- พื้นที่หลักคือ สมุทรปราการ กรุงเทพฯ และปริมณฑล\n- ลูกค้าคือเจ้าของบ้าน ร้านค้า อาคาร โรงงาน และธุรกิจที่มีปัญหาแอร์\n- โทนต้องมืออาชีพ เข้าใจง่าย สุภาพ ไม่ขายแรงเกินไป\n- ห้ามใช้คำว่า สินค้าไทย ช้อปปิ้ง สั่งซื้อสินค้า\n- ถ้าภาพเป็นท่อ คราบ น้ำมัน สนิม อุปกรณ์ หรือหน้างาน ให้ตีความเป็นงานตรวจเช็ก ซ่อม หรือบำรุงรักษาแอร์\n- ห้ามเดาราคา ถ้าไม่มีข้อมูล\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nภาพหรือบริบท: ${json.visual_context || 'ภาพหน้างานบริการแอร์'}\nบริการ: ${json.product_name || 'บริการตรวจเช็กและซ่อมแอร์'}\nพื้นที่ให้บริการ: ${json.service_area || 'สมุทรปราการ กรุงเทพฯ และปริมณฑล'}\nกลุ่มลูกค้า: ${json.target_customer || 'เจ้าของบ้าน ร้านค้า อาคาร โรงงาน หรือธุรกิจที่มีปัญหาแอร์'}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE\",\n  \"call_to_action\": \"ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ\"\n}\n`;\n\n  return {\n    json: {\n      ...json,\n      brand_context: 'paa_air',\n      ai_prompt,\n      ai_script_json: {\n        hook: 'แอร์ผิดปกติ อย่าปล่อยไว้',\n        voiceover_full: 'ถ้าแอร์เริ่มเย็นน้อย มีคราบ หรือมีอาการผิดปกติ อย่าปล่อยให้เสียหนัก ทีม PAA Air Service ช่วยตรวจเช็ก ซ่อม และแนะนำแนวทางที่เหมาะกับหน้างาน ทัก LINE เพื่อส่งรูปหรือสอบถามอาการได้เลย',\n        scenes: [\n          { scene_number: 1, duration_sec: 4, text: 'แอร์ผิดปกติ', voiceover: 'ถ้าแอร์เริ่มเย็นน้อยหรือมีอาการผิดปกติ', visual_instruction: 'ใช้ภาพหน้างานจริงเป็นพื้นหลัง', transition: 'fade' },\n          { scene_number: 2, duration_sec: 5, text: 'อย่าปล่อยเสียหนัก', voiceover: 'อย่าปล่อยให้เสียหนักจนค่าซ่อมบาน', visual_instruction: 'ซูมจุดที่ต้องตรวจเช็ก', transition: 'fade' },\n          { scene_number: 3, duration_sec: 5, text: 'ส่งรูปให้ช่างดู', voiceover: 'ทัก LINE ส่งรูปให้ทีมช่วยประเมินเบื้องต้นได้', visual_instruction: 'แสดงข้อความส่งรูปผ่าน LINE', transition: 'fade' }\n        ],\n        caption_reels: 'แอร์เย็นน้อย มีคราบ หรือมีอาการผิดปกติ ส่งรูปให้ทีม PAA Air Service ช่วยประเมินเบื้องต้นได้ทาง LINE',\n        call_to_action: 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ'\n      },\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  };\n});"},"id":"a8209d37-4980-458d-b923-6c3fdeb1955c","name":"Generate PAA Air Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5024,2816]},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const ai_prompt = `\nคุณคือครีเอเตอร์วิดีโอสั้นของ SyncFlow by PAA Tech\n\nบริบทธุรกิจ:\n- SyncFlow คือระบบช่วยธุรกิจบริการรับแชท เก็บข้อมูลงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE\n- กลุ่มลูกค้าคือ เจ้าของธุรกิจบริการ แอดมินร้าน ทีมช่าง ร้านซ่อม สปา คลินิก และธุรกิจที่รับงานจากแชท\n- จุดขายหลักคือ แชทไม่หาย งานไม่หลุด ทีมเห็นสถานะเดียวกัน ลดงานซ้ำของแอดมิน\n- ห้ามใช้คำว่า สินค้าไทย สั่งซื้อสินค้า ช้อปปิ้ง\n- ห้ามใช้คำว่า งานแอร์ ยกเว้นผู้ใช้ระบุว่าเป็นธุรกิจช่างแอร์\n- หลีกเลี่ยงศัพท์ยาก เช่น lead CRM automation ถ้าใช้ต้องอธิบายเป็นภาษาง่าย\n- ใช้คำง่าย เช่น ลูกค้าทักมา เก็บเป็นงาน แจ้งเตือนทีม ไม่ลืมตามงาน เห็นคิวงานชัดเจน\n- โทนทันสมัย มืออาชีพ เข้าใจง่าย ไม่ขายฝันเกินจริง\n- ห้ามพูดว่าระบบทำแทนคนทั้งหมด\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nบริบทภาพหรือระบบ: ${json.visual_context || 'ภาพระบบจัดการแชทและคิวงานของธุรกิจบริการ'}\nบริการ: ${json.product_name || 'ระบบรับแชทและจัดการงานอัตโนมัติ'}\nกลุ่มเป้าหมาย: ${json.target_customer || 'เจ้าของธุรกิจบริการที่รับงานผ่านแชท'}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE หรือดูเดโม\",\n  \"call_to_action\": \"ทัก LINE เพื่อดูเดโม SyncFlow\"\n}\n`;\n\n  return {\n    json: {\n      ...json,\n      brand_context: 'syncflow',\n      business_name: 'SyncFlow by PAA Tech',\n      brand_name: 'SyncFlow by PAA Tech',\n      product_name: 'ระบบจัดการแชทและงานบริการ',\n      title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      video_title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      ai_prompt,\n      ai_script_json: {\n        hook: 'ลูกค้าทักมา แต่งานยังหลุดไหม',\n        voiceover_full: 'หลายธุรกิจรับงานผ่านแชททุกวัน แต่พอแชทเยอะ ข้อมูลก็กระจาย งานหลุด และทีมตามต่อยาก SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE ให้เจ้าของเห็นภาพรวมชัดขึ้น ทัก LINE เพื่อดูเดโมได้เลย',\n        scenes: [\n          { scene_number: 1, duration_sec: 4, text: 'แชทเยอะงานหลุด', voiceover: 'หลายธุรกิจรับงานผ่านแชททุกวัน', visual_instruction: 'ภาพแชทลูกค้าหลายรายการ', transition: 'fade' },\n          { scene_number: 2, duration_sec: 5, text: 'เก็บเป็นงานทันที', voiceover: 'SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน', visual_instruction: 'ภาพแชทไหลเข้าเป็นคิวงาน', transition: 'fade' },\n          { scene_number: 3, duration_sec: 5, text: 'แจ้งเตือนทีม', voiceover: 'ทีมเห็นสถานะเดียวกันและตามงานต่อได้ง่ายขึ้น', visual_instruction: 'ภาพแจ้งเตือนผ่าน LINE', transition: 'fade' }\n        ],\n        caption_reels: 'แชทไม่หาย งานไม่หลุด SyncFlow ช่วยธุรกิจบริการเก็บงานจากแชทและแจ้งเตือนทีมผ่าน LINE ทักเพื่อดูเดโม',\n        call_to_action: 'ทัก LINE เพื่อดูเดโม SyncFlow'\n      },\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  };\n});"},"id":"34718483-bf71-459f-9801-2ffd68a185f1","name":"Generate SyncFlow Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5024,3008]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction cleanString(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nfunction cleanText(value, fallback = '') {\n  return cleanString(value, fallback)\n    .normalize('NFC')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/[^\\u0E00-\\u0E7Fa-zA-Z0-9\\s.,!?()\\-:]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractJson(value) {\n  if (typeof value === 'object' && value !== null) return value;\n  const raw = String(value ?? '').trim();\n  if (!raw) return {};\n  try { return JSON.parse(raw); } catch (_) {}\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { return JSON.parse(match[0]); } catch (_) {}\n  }\n  return {};\n}\n\nreturn items.map(({ json }) => {\n  const candidate = json.ai_script_json || json.output || json.text || json.response || json.result || json.message || json.data || json;\n  const parsed = extractJson(candidate);\n  const hook = cleanText(parsed.hook || json.hook, '');\n  const voiceoverFull = cleanText(parsed.voiceover_full || json.voiceover_full || parsed.voiceover || json.voiceover, '');\n  const scenesRaw = Array.isArray(parsed.scenes) ? parsed.scenes : (Array.isArray(json.scenes) ? json.scenes : []);\n\n  const scenes = scenesRaw.slice(0, 5).map((scene, index) => {\n    const text = cleanText(scene.text || scene.title || hook || 'ข้อความบนจอ', 'ข้อความบนจอ');\n    const voiceover = cleanText(scene.voiceover || scene.text || voiceoverFull || text, text);\n    return {\n      scene_number: Number(scene.scene_number || index + 1),\n      duration_sec: Number(scene.duration_sec || 4),\n      text: text.slice(0, 60),\n      voiceover,\n      visual_instruction: cleanText(scene.visual_instruction || '', ''),\n      transition: cleanText(scene.transition || 'fade', 'fade'),\n    };\n  });\n\n  const finalScenes = scenes.length ? scenes : [{\n    scene_number: 1,\n    duration_sec: 4,\n    text: cleanText(hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n    voiceover: cleanText(voiceoverFull || hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n    visual_instruction: '',\n    transition: 'fade',\n  }];\n\n  const finalVoiceover = voiceoverFull || finalScenes.map(s => s.voiceover).join(' ');\n  if (!finalVoiceover) throw new Error('Missing voiceover_full from AI script output');\n\n  return {\n    json: {\n      ...json,\n      hook,\n      voiceover_full: finalVoiceover,\n      scenes: finalScenes,\n      caption_reels: cleanText(parsed.caption_reels || json.caption_reels, ''),\n      call_to_action: cleanText(parsed.call_to_action || json.call_to_action || (json.brand_context === 'syncflow' ? 'ทัก LINE เพื่อดูเดโม SyncFlow' : 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ'), ''),\n      script_status: 'ready',\n      script_normalized_at: new Date().toISOString(),\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  };\n});"},"id":"f0aafbbc-f15c-41f9-9b3b-84590a2ba72b","name":"Normalize Script Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4800,2912]},{"parameters":{"httpMethod":"POST","path":"line-image","options":{}},"id":"367467d7-68bf-4074-9861-f2d6e79e1cd7","name":"LINE Webhook1","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5024,528],"webhookId":"ef7a5617-99c4-4105-96c1-153938a3afed"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1","leftValue":"={{ $json.body?.events?.[0]?.source?.userId || '' }}","rightValue":"U8e00779dbd898b95946cf2fb0b691af2","operator":{"type":"string","operation":"equals"}},{"id":"2","leftValue":"={{ $json.body?.events?.[0]?.message?.type || '' }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"622ee9db-e453-4c5f-bd6e-ed4e5c21db0b","name":"Check Owner + Message Type1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4576,624]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"messageId","value":"={{ $json.body.events[0].message.id }}","type":"string"},{"id":"2","name":"replyToken","value":"={{ $json.body.events[0].replyToken }}","type":"string"},{"id":"3","name":"userId","value":"={{ $json.body.events[0].source.userId }}","type":"string"}]},"options":{}},"id":"8d23f61c-4e0d-43e9-bff4-0072376b2903","name":"Extract Image ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,624]},{"parameters":{"url":"={{ \"https://line-image-relay.paaairservice.workers.dev/line-content/product-video/\" + $json.messageId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eeb74ad249d734f8062bc0f548a4f7fe9ff4f362a11d51cee5b74dba169e0550"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"file"}},"timeout":30000}},"id":"bbdaf364-3d65-4c98-95db-ba17e0108ada","name":"Download Image from LINE1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4128,624],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"operation":"upload","bucketName":"paa-video-assets","fileName":"=uploads/{{$json.messageId}}.jpg","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-3904,624],"id":"94ee946b-b5da-42c9-8d44-beed28951fd3","name":"Upload a file1","credentials":{"s3":{"id":"JMLWb0TMb4eRFsMb","name":"s3_PAA"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"public_image_url","value":"={{ \"https://s3.paaair.online/paa-video-assets/uploads/\" + $('Download Image from LINE1').item.json.messageId + \".jpg\" }}","type":"string"},{"id":"2","name":"messageId","value":"={{ $('Download Image from LINE1').item.json.messageId }}","type":"string"},{"id":"3","name":"replyToken","value":"={{ $('LINE Webhook1').item.json.body.events[0].replyToken }}","type":"string"},{"id":"4","name":"userId","value":"={{ $('LINE Webhook1').item.json.body.events[0].source.userId }}","type":"string"}]},"options":{}},"id":"0dd14005-ac36-4f42-a6c9-15d8c843fb85","name":"Build Public Image URL1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3680,624]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction cleanString(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nfunction buildPublicImageUrl(json) {\n  const existing = cleanString(\n    json.public_image_url ||\n    json.publicImageUrl ||\n    json.image_url ||\n    json.imageUrl\n  );\n\n  const messageId = cleanString(\n    json.messageId ||\n    json.message_id ||\n    json.image_id ||\n    json.imageId\n  );\n\n  if (existing && !existing.includes('cdn.example.com') && !existing.includes('/bucket/uploads')) {\n    return existing;\n  }\n\n  if (!messageId) return existing;\n\n  const base = cleanString(\n    $env.PUBLIC_LINE_IMAGE_BASE_URL ||\n    $env.PUBLIC_MINIO_UPLOAD_BASE_URL ||\n    'https://s3.paaair.online/paa-video-assets/uploads'\n  ).replace(/\\/+$/, '');\n\n  return `${base}/${messageId}.jpg`;\n}\n\nfunction detectBrandContext(json) {\n  const raw = [\n    json.brand_context,\n    json.brand,\n    json.brand_name,\n    json.business_name,\n    json.product_name,\n    json.caption,\n    json.message,\n    json.text,\n    json.raw_text,\n    json.notes,\n  ]\n    .filter(Boolean)\n    .join(' ')\n    .toLowerCase();\n\n  if (\n    raw.includes('syncflow') ||\n    raw.includes('paa tech') ||\n    raw.includes('ระบบจัดการแชท') ||\n    raw.includes('รับแชท') ||\n    raw.includes('คิวหลุด') ||\n    raw.includes('งานไม่หลุด')\n  ) {\n    return 'syncflow';\n  }\n\n  if (\n    raw.includes('paa air') ||\n    raw.includes('pa air') ||\n    raw.includes('pa cooling') ||\n    raw.includes('แอร์') ||\n    raw.includes('ล้างแอร์') ||\n    raw.includes('ซ่อมแอร์') ||\n    raw.includes('ติดตั้งแอร์')\n  ) {\n    return 'paa_air';\n  }\n\n  return 'paa_air';\n}\n\nfunction getBrandProfile(brandContext) {\n  if (brandContext === 'syncflow') {\n    return {\n      business_name: 'SyncFlow by PAA Tech',\n      brand_name: 'SyncFlow by PAA Tech',\n      brand_color: '#f97316',\n      business_type: 'ระบบช่วยธุรกิจบริการรับแชท เก็บงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE',\n      service_area: 'ให้บริการธุรกิจบริการทั่วไทย',\n      target_customer: 'เจ้าของธุรกิจบริการ แอดมินร้าน ทีมช่าง ร้านซ่อม สปา คลินิก และธุรกิจที่รับงานผ่านแชท',\n      product_name: 'ระบบจัดการแชทและงานบริการ',\n      title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      video_title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      visual_context: 'ภาพระบบ SyncFlow สำหรับจัดการแชท คิวงาน งานบริการ และ dashboard การทำงาน',\n      pain_point: 'ลูกค้าทักหลายช่องทาง ข้อมูลกระจัดกระจาย แอดมินลืมตอบ งานหลุด และทีมไม่เห็นสถานะเดียวกัน',\n      benefits: 'ช่วยรวมแชท เก็บเป็นงาน จัดคิว แจ้งเตือนทีม และทำให้เจ้าของเห็นภาพรวมชัดขึ้น',\n      offer: 'ขอดูเดโมระบบ SyncFlow ได้ทาง LINE',\n      call_to_action: 'ทัก LINE เพื่อดูเดโม SyncFlow',\n      tone: 'ทันสมัย มืออาชีพ เข้าใจง่าย ไม่ใช้ศัพท์เทคนิคเยอะ',\n      overlay_mode: 'none',\n      center_overlay_enabled: false,\n      show_center_overlay: false,\n      accent_line_enabled: false,\n      progress_line_enabled: false,\n      show_bottom_line: false,\n      script_prompt: 'สร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ SyncFlow by PAA Tech ห้ามใช้คำว่าสินค้าไทย ห้ามพูดเรื่องงานแอร์ ยกเว้นผู้ใช้ระบุว่าเป็นธุรกิจช่างแอร์ เน้นรับแชท เก็บเป็นงาน จัดคิว แจ้งเตือนทีม ลดงานหลุด และดูเดโม',\n    };\n  }\n\n  return {\n    business_name: 'PAA Air Service',\n    brand_name: 'PAA Air Service',\n    brand_color: '#22c55e',\n    business_type: 'บริการแอร์ ซ่อมแอร์ ล้างแอร์ ติดตั้งแอร์ และงานระบบความเย็น',\n    service_area: 'สมุทรปราการ กรุงเทพฯ และปริมณฑล',\n    target_customer: 'เจ้าของบ้าน ร้านค้า โรงงาน หรืออาคารที่มีปัญหาแอร์',\n    product_name: 'บริการตรวจเช็กและซ่อมแอร์',\n    title: 'แอร์ผิดปกติ อย่าปล่อยไว้',\n    video_title: 'แอร์ผิดปกติ อย่าปล่อยไว้',\n    visual_context: 'ภาพหน้างานบริการแอร์ ตรวจเช็ก ซ่อม ล้างแอร์ หรือระบบความเย็น',\n    pain_point: 'แอร์มีอาการผิดปกติ เย็นน้อย มีคราบ รั่ว หรือควรตรวจเช็กก่อนเสียหนัก',\n    benefits: 'ช่วยประเมินอาการเบื้องต้นจากรูป ลดความเสี่ยงเสียหนัก และแนะนำแนวทางซ่อมที่เหมาะกับหน้างาน',\n    offer: 'ส่งรูปหรือสอบถามอาการเบื้องต้นได้ทาง LINE',\n    call_to_action: 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ',\n    tone: 'มืออาชีพ เข้าใจง่าย สุภาพ ไม่ขายแรงเกินไป',\n    overlay_mode: 'none',\n    center_overlay_enabled: false,\n    show_center_overlay: false,\n    accent_line_enabled: false,\n    progress_line_enabled: false,\n    show_bottom_line: false,\n    script_prompt: 'สร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ PAA Air Service จากภาพหน้างานแอร์ ห้ามใช้คำว่าสินค้าไทย ห้ามใช้ emoji ห้ามเดาราคา เน้นตรวจเช็ก ซ่อม ล้างแอร์ และให้ลูกค้าทัก LINE เพื่อประเมินเบื้องต้น',\n  };\n}\n\nreturn items.map(({ json }) => {\n  const publicImageUrl = buildPublicImageUrl(json);\n  const messageId = cleanString(\n    json.messageId || json.message_id || json.image_id || json.imageId,\n    String(Date.now())\n  );\n\n  if (!publicImageUrl) throw new Error('Missing public_image_url after LINE image upload');\n\n  const brandContext = detectBrandContext(json);\n  const profile = getBrandProfile(brandContext);\n\n  return {\n    json: {\n      ...json,\n      source: cleanString(json.source, 'line_image'),\n      job_id: cleanString(json.job_id, `line-image-${messageId}`),\n      product_id: cleanString(json.product_id, `line-image-${messageId}`),\n      messageId,\n      owner_line_user_id: cleanString(json.userId || json.owner_line_user_id || json.ownerLineUserId),\n      public_image_url: publicImageUrl,\n      image_url: publicImageUrl,\n      image_urls: [publicImageUrl],\n      brand_context: brandContext,\n      ...profile,\n      price: '',\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"875f976b-40cc-491a-be9f-a16d8bd32cff","name":"Normalize LINE Image Input for Main Flow","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,624]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.brand_context_by_user) {\n  staticData.brand_context_by_user = {};\n}\n\nconst json = $input.all()[0]?.json || $json || {};\nconst event = json.body?.events?.[0] || json.events?.[0] || {};\n\nconst userId =\n  json.userId ||\n  json.user_id ||\n  json.owner_line_user_id ||\n  event.source?.userId ||\n  '';\n\nconst text = String(\n  json.text ||\n  json.message?.text ||\n  event.message?.text ||\n  ''\n).trim().toLowerCase();\n\nconst replyToken = event.replyToken || json.replyToken || '';\n\nlet brandContext = null;\n\nif (\n  text === 'syncflow' ||\n  text === 'sf' ||\n  text === '#syncflow' ||\n  text.includes('syncflow') ||\n  text.includes('ซิงค์โฟลว์')\n) {\n  brandContext = 'syncflow';\n}\n\nif (\n  text === 'paa' ||\n  text === 'paa_air' ||\n  text === '#paa' ||\n  text.includes('paa air') ||\n  text.includes('pa cooling') ||\n  text.includes('แอร์')\n) {\n  brandContext = 'paa_air';\n}\n\nif (!userId) {\n  return [{\n    json: {\n      success: false,\n      reason: 'missing_user_id',\n      replyToken,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  }];\n}\n\nif (!brandContext) {\n  return [{\n    json: {\n      success: false,\n      reason: 'not_brand_command',\n      text,\n      replyToken,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  }];\n}\n\nconst ttlMs = 10 * 60 * 1000;\nconst now = Date.now();\n\nstaticData.brand_context_by_user[userId] = {\n  brand_context: brandContext,\n  user_id: userId,\n  saved_at: new Date(now).toISOString(),\n  expires_at: new Date(now + ttlMs).toISOString(),\n};\n\nreturn [{\n  json: {\n    success: true,\n    reason: 'brand_context_saved',\n    brand_context: brandContext,\n    brand_context_source: 'text_command',\n    userId,\n    user_id: userId,\n    owner_line_user_id: userId,\n    replyToken,\n    reply_text:\n      brandContext === 'syncflow'\n        ? 'ตั้งค่าแบรนด์เป็น SyncFlow แล้ว ส่งรูปต่อได้เลย'\n        : 'ตั้งค่าแบรนด์เป็น PAA Air แล้ว ส่งรูปต่อได้เลย',\n    real_posting_enabled: false,\n    posting_allowed: false,\n  }\n}];"},"id":"2cde821f-04b9-4fbf-b8d7-8fc60316efa2","name":"Save Brand Context Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4576,432]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst items = $input.all();\nconst now = Date.now();\n\nif (!staticData.brand_context_by_user) {\n  staticData.brand_context_by_user = {};\n}\n\n// Cleanup expired records.\nfor (const [key, value] of Object.entries(staticData.brand_context_by_user)) {\n  const expiresAt = new Date(value?.expires_at || 0).getTime();\n  if (!Number.isFinite(expiresAt) || expiresAt <= now) {\n    delete staticData.brand_context_by_user[key];\n  }\n}\n\nfunction cleanString(value, fallback = '') {\n  if (value === null || value === undefined) return fallback;\n  return String(value).trim();\n}\n\nfunction firstLineEvent(json) {\n  if (Array.isArray(json?.events) && json.events.length > 0) {\n    return json.events[0];\n  }\n  return null;\n}\n\nfunction getUserId(json) {\n  const event = firstLineEvent(json);\n  return cleanString(\n    json.userId ||\n    json.user_id ||\n    json.owner_line_user_id ||\n    json.ownerLineUserId ||\n    json.source?.userId ||\n    event?.source?.userId ||\n    event?.source?.groupId ||\n    ''\n  );\n}\n\nfunction normalizeBrandContext(value) {\n  const raw = cleanString(value).toLowerCase();\n  if (!raw) return null;\n\n  if (\n    raw === 'syncflow' ||\n    raw === 'sf' ||\n    raw.includes('syncflow') ||\n    raw.includes('paa tech') ||\n    raw.includes('ซิงค์โฟลว์') ||\n    raw.includes('ระบบจัดการแชท') ||\n    raw.includes('รับแชท') ||\n    raw.includes('คิวหลุด') ||\n    raw.includes('งานไม่หลุด')\n  ) {\n    return 'syncflow';\n  }\n\n  if (\n    raw === 'paa_air' ||\n    raw === 'paa' ||\n    raw === 'paair' ||\n    raw.includes('paa air') ||\n    raw.includes('pa air') ||\n    raw.includes('pa cooling') ||\n    raw.includes('paa cooling') ||\n    raw.includes('ล้างแอร์') ||\n    raw.includes('ซ่อมแอร์') ||\n    raw.includes('ติดตั้งแอร์')\n  ) {\n    return 'paa_air';\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const json = item.json || {};\n  const userId = getUserId(json);\n\n  const explicitBrandSignal = [\n    json.brand_context,\n    json.brand,\n    json.brand_name,\n    json.business_name,\n    json.product_name,\n    json.caption,\n    json.message,\n    json.text,\n    json.raw_text,\n    json.notes,\n  ]\n    .filter((value) => value !== null && value !== undefined && String(value).trim() !== '')\n    .join(' ');\n\n  let brandContext = normalizeBrandContext(explicitBrandSignal);\n  let brandContextSource = brandContext ? 'explicit_input' : null;\n\n  if (!brandContext && userId && staticData.brand_context_by_user[userId]) {\n    const saved = staticData.brand_context_by_user[userId];\n    const expiresAt = new Date(saved.expires_at || 0).getTime();\n\n    if (Number.isFinite(expiresAt) && expiresAt > now) {\n      brandContext = normalizeBrandContext(saved.brand_context);\n      brandContextSource = 'saved_user_state';\n    } else {\n      delete staticData.brand_context_by_user[userId];\n    }\n  }\n\n  if (!brandContext) {\n    brandContext = 'paa_air';\n    brandContextSource = 'default_fallback';\n  }\n\n  return {\n    json: {\n      ...json,\n      userId: userId || json.userId,\n      user_id: userId || json.user_id,\n      brand_context: brandContext,\n      brand_context_source: brandContextSource,\n      brand_context_note:\n        brandContextSource === 'default_fallback'\n          ? 'No explicit brand_context or active saved state found; fallback to paa_air.'\n          : undefined,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"a37cd434-04ba-4d74-9b8b-73a8923dbe00","name":"Resolve Brand Context from State","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3456,624]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9baa16a8-a993-42e9-b758-4c0c1dcff17a","leftValue":"={{ $json.body?.events?.[0]?.source?.userId || '' }}","rightValue":"U8e00779dbd898b95946cf2fb0b691af2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"94836a94-a481-4d84-a186-45e62263825f","leftValue":"={{ $json.body?.events?.[0]?.message?.type || '' }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4800,528],"id":"45c24099-c3ba-4a0d-ad29-e2146b2412c4","name":"Check Owner + Text Command"},{"parameters":{"replyToken":"={{ $json.replyToken }}","messages":{"values":[{"text":"={{ String($json.reply_text || $json.owner_message || $json.message || 'รับคำสั่งแล้ว').trim() }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[-4128,432],"id":"73e449ec-01b0-4f8a-8952-770cb2772c88","name":"Line Messaging2","credentials":{"lineMessagingApi":{"id":"dv1qBRSHVe1Dx2vM","name":"Reel clip"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d0d0cd3c-04a0-4a46-b821-8df30c31cef5","leftValue":"={{ $json.success === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4352,432],"id":"49c57d9f-fa8f-449a-8057-0838206c7e23","name":"If"},{"parameters":{},"id":"42cee7b7-3932-4cee-a25c-cafa3e757e44","name":"Hermes Manual FB AutoPost Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-5024,2176],"disabled":true},{"parameters":{"jsCode":"const pageRegistry = {\n  paa_air: {\n    target_page_key: 'paa_air',\n    selected_page_name: 'PAA Air Service',\n    brand_context: 'paa_air',\n    graph_page_path: 'me',\n  },\n  syncflow: {\n    target_page_key: 'syncflow',\n    selected_page_name: 'SyncFlow by PAA Tech',\n    brand_context: 'syncflow',\n    graph_page_path: 'me',\n  },\n};\n\nconst selected = {\n  job_id: 'line-image-616399171850600500-render-20260531-132743-63298',\n  product_id: 'line-image-616399171850600500',\n  public_video_url: 'https://admin.paaair.online/media/line-image-616399171850600500-render-20260531-132743-63298.mp4',\n  caption: 'วิดีโอสินค้า line-image-616399171850600500 พร้อมโพสต์บน Facebook Page',\n  platform: 'facebook_page',\n  approval_status: 'approved',\n  real_posting_enabled: true,\n  posting_allowed: true,\n  already_posted: false,\n  max_post_count: 1,\n  LINE_BROADCAST_ENABLED: false,\n  target_page_key: 'paa_air',\n};\n\nconst page = pageRegistry[selected.target_page_key];\nif (!page) {\n  return [{\n    json: {\n      ...selected,\n      allowed: false,\n      guard_reasons: ['unknown_target_page_key'],\n      page_registry_keys: Object.keys(pageRegistry),\n      real_posting_enabled: false,\n      posting_allowed: false,\n      LINE_BROADCAST_ENABLED: false,\n    },\n  }];\n}\n\nselected.selected_page_name = page.selected_page_name;\nselected.brand_context = page.brand_context;\nselected.graph_page_path = page.graph_page_path;\nselected.page_registry_keys = Object.keys(pageRegistry);\nselected.idempotency_key = [\n  selected.target_page_key,\n  selected.job_id,\n  selected.product_id,\n  selected.public_video_url,\n].join('|');\n\nreturn [{ json: selected }];"},"id":"8e3edc58-3c9b-4a82-887e-03d5d7977c0c","name":"Hermes Select Approved FB Video","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5024,2496]},{"parameters":{"jsCode":"const item = $json;\nconst reasons = [];\n\nfunction clean(value) {\n  return String(value ?? '').trim();\n}\n\nconst targetPageKey = clean(item.target_page_key);\nconst selectedPageName = clean(item.selected_page_name);\nconst brandContext = clean(item.brand_context);\n\nconst allowedPageMap = {\n  paa_air: {\n    brand_context: 'paa_air',\n    allowed_names: ['PAA Air Service', 'PAA Air', 'PA Air', 'PA Cooling'],\n    video_prefixes: ['https://admin.paaair.online/media/'],\n  },\n  syncflow: {\n    brand_context: 'syncflow',\n    allowed_names: ['SyncFlow by PAA Tech', 'SyncFlow'],\n    video_prefixes: ['https://admin.paaair.online/media/', 'https://demo.syncflowth.com/'],\n  },\n};\n\nif (item.approval_status !== 'approved') reasons.push('approval_status_not_approved');\nif (item.real_posting_enabled !== true) reasons.push('real_posting_enabled_not_true');\nif (item.posting_allowed !== true) reasons.push('posting_allowed_not_true');\nif (item.already_posted !== false) reasons.push('already_posted_not_false');\nif (item.platform !== 'facebook_page') reasons.push('platform_not_facebook_page');\nif (Number(item.max_post_count) !== 1) reasons.push('max_post_count_not_1');\nif (item.LINE_BROADCAST_ENABLED !== false) reasons.push('line_broadcast_not_false');\n\nif (!targetPageKey) reasons.push('missing_target_page_key');\nif (!selectedPageName) reasons.push('missing_selected_page_name');\nif (!brandContext) reasons.push('missing_brand_context');\n\nconst pagePolicy = allowedPageMap[targetPageKey];\nif (targetPageKey && !pagePolicy) reasons.push('unknown_target_page_key');\n\nif (pagePolicy) {\n  if (brandContext !== pagePolicy.brand_context) reasons.push('brand_context_page_mismatch');\n  if (!pagePolicy.allowed_names.includes(selectedPageName)) reasons.push('selected_page_name_mismatch');\n\n  if (\n    brandContext === 'syncflow' &&\n    targetPageKey !== 'syncflow'\n  ) reasons.push('syncflow_requires_target_page_key_syncflow');\n\n  if (\n    (brandContext === 'paa' || brandContext === 'paa_air') &&\n    targetPageKey !== 'paa_air'\n  ) reasons.push('paa_requires_target_page_key_paa_air');\n\n  const publicVideoUrl = clean(item.public_video_url);\n  if (!pagePolicy.video_prefixes.some((prefix) => publicVideoUrl.startsWith(prefix))) {\n    reasons.push('bad_public_video_url_prefix_for_page');\n  }\n}\n\nconst expectedIdempotencyKey = [\n  targetPageKey,\n  item.job_id,\n  item.product_id,\n  item.public_video_url,\n].join('|');\nif (!item.idempotency_key || item.idempotency_key !== expectedIdempotencyKey) reasons.push('bad_idempotency_key');\n\nconst staticData = $getWorkflowStaticData('global');\nstaticData.facebook_autopost = staticData.facebook_autopost || {};\nif (staticData.facebook_autopost[item.idempotency_key]) reasons.push('idempotency_key_already_posted');\n\nreturn [{\n  json: {\n    ...item,\n    allowed: reasons.length === 0,\n    guard_reasons: reasons,\n    page_guard_checked: true,\n  },\n}];"},"id":"1508a34a-49bc-40c7-800e-ebe65a27e16b","name":"Hermes Guard FB AutoPost","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4800,2496]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"allowed","leftValue":"={{ $json.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8adb66ff-babf-4430-8baa-90f428bb2f32","name":"Hermes IF FB AutoPost Allowed","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4576,2496]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v19.0/me/videos","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"file_url","value":"={{ $json.public_video_url }}"},{"name":"description","value":"={{ $json.caption }}"},{"name":"title","value":"={{ $json.product_id }}"}]},"options":{"response":{"response":{}}}},"id":"a8158a7e-9cbf-47ed-81fa-34d28c649547","name":"Hermes Facebook Graph Video Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4352,2400],"credentials":{"facebookGraphApi":{"id":"OY0rRmyX8NVBs6xu","name":"Facebook Graph account"}}},{"parameters":{"jsCode":"const input = $('Hermes Guard FB AutoPost').first().json;\nconst graph = $json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.facebook_autopost = staticData.facebook_autopost || {};\nconst postedAt = new Date().toISOString();\nstaticData.facebook_autopost[input.idempotency_key] = {\n  posted_at: postedAt,\n  job_id: input.job_id,\n  product_id: input.product_id,\n  video_url: input.public_video_url,\n  platform: input.platform,\n  graph_id: graph.id || graph.post_id || graph.video_id || null,\n};\nreturn [{ json: {\n  posted: true,\n  platform: input.platform,\n  job_id: input.job_id,\n  product_id: input.product_id,\n  public_video_url: input.public_video_url,\n  idempotency_key: input.idempotency_key,\n  posted_at: postedAt,\n  graph_response_id: graph.id || graph.post_id || graph.video_id || null,\n  max_post_count: 1,\n  LINE_BROADCAST_ENABLED: false,\n}}];"},"id":"86feb44f-fd46-405b-946c-64756aa26a9b","name":"Hermes Mark FB Posted","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4128,2400]},{"parameters":{"assignments":{"assignments":[{"id":"blocked","name":"posted","value":false,"type":"boolean"},{"id":"platform","name":"platform","value":"facebook_page","type":"string"},{"id":"reason","name":"reason","value":"={{ ($json.guard_reasons || []).join(',') }}","type":"string"},{"id":"line","name":"LINE_BROADCAST_ENABLED","value":false,"type":"boolean"}]},"options":{}},"id":"a5980592-1fcb-491b-9dd8-036bc87b2192","name":"Hermes FB AutoPost Blocked","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,2592]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"b923b5c9-929f-4c8f-937e-6f831171f9e1","name":"Hermes Permanent FB AutoPost Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5024,1536],"notesInFlow":true,"disabled":true,"notes":"Permanent Facebook Page auto-post schedule. Guarded downstream by approval_status=approved, real_posting_enabled=true, posting_allowed=true, already_posted=false, platform=facebook_page, public_video_url prefix, max_post_count=1, idempotency key, and LINE_BROADCAST_ENABLED=false."},{"parameters":{"jsonSchemaExample":{"video_title":"บริการล้างแอร์บ้าน","hook":"แอร์ไม่เย็น มีกลิ่นอับ?","voiceover_full":"แอร์ไม่เย็น มีกลิ่นอับ อาจถึงเวลาล้างแอร์แล้ว","scenes":[{"scene_number":1,"duration_sec":4,"text_on_screen":"แอร์ไม่เย็น?","voiceover":"แอร์ไม่เย็น มีกลิ่นอับใช่ไหม","visual_instruction":"ภาพแอร์บ้านพร้อมตัวหนังสือใหญ่","transition":"cut"}],"caption_reels":"แอร์ไม่เย็น มีกลิ่นอับ ทัก LINE เพื่อจองคิว","caption_tiktok":"ล้างแอร์บ้าน เริ่มต้น 700 บาท","caption_youtube_shorts":"บริการล้างแอร์บ้าน PA Cooling Solutions","hashtags":["ล้างแอร์","ช่างแอร์","PACooling"],"safety_notes":[]}},"id":"6bba7136-5186-4bfc-8d99-01174d511d67","name":"Video Script JSON Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-2656,-208],"disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"9a861cd1-c8b2-45d8-bfc8-7073cf1ffeed","name":"Merge Product + AI Script1","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2208,-176]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const item = $input.item.json;\n\nconst scenes = Array.isArray(item.scenes) ? item.scenes : [];\nconst fullText = [\n  item.video_title,\n  item.hook,\n  item.voiceover_full,\n  ...scenes.map(s => s.voiceover || s.voiceOver || s.voice_over || s.voice || s.text_on_screen || s.textOnScreen || '')\n].filter(Boolean).join(' ');\n\nconst bannedPhrases = [\n  'ดีที่สุด',\n  'อันดับ 1',\n  'อันดับหนึ่ง',\n  'การันตีผลลัพธ์ 100%',\n  'การันตี 100%',\n  'รักษาหาย',\n  'หายขาด'\n];\n\nconst foundIssues = [];\n\nfor (const phrase of bannedPhrases) {\n  if (fullText.includes(phrase)) {\n    foundIssues.push('พบคำเคลมเกินจริง: ' + phrase);\n  }\n}\n\nconst scriptStatus = foundIssues.length > 0 ? 'needs_review' : 'safe';\n\nreturn {\n  json: {\n    ...item,\n    safety_notes: foundIssues,\n    script_status: scriptStatus,\n    approval_status: 'pending_approval',\n    posting_allowed: false\n  }\n};"},"id":"7bf64222-3437-403a-9e5f-db1f0d246d59","name":"Safety Check1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1984,-176]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.script_status }}","rightValue":"safe","operator":{"type":"string","operation":"equals"},"id":"b9de4bd8-4f74-46e5-8fd6-247fc28f0cee"}],"combinator":"and"},"options":{}},"id":"ea562a00-d3da-4a26-a496-bdaf53a59823","name":"IF Script Safe1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-1760,-176]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"owner_message","value":"=⚠️ Product video script needs review\\nProduct ID: {{ $json.product_id }}\\nIssues: {{ ($json.safety_notes || []).join(', ') }}","type":"string"},{"id":"2","name":"status","value":"needs_review","type":"string"},{"id":"3","name":"created_at","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"6a189298-944e-4b64-b3a4-c3c8c2d3db01","name":"Notify Owner - Needs Review1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1536,-80]},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const item = json;\n\n  const scenes =\n    Array.isArray(item.scenes) ? item.scenes :\n    Array.isArray(item.script) ? item.script :\n    Array.isArray(item.video_scenes) ? item.video_scenes :\n    [];\n\n  const voiceoverFull =\n    item.voiceover_full ||\n    item.voiceOverFull ||\n    item.voiceoverFull ||\n    item.voiceover ||\n    item.voiceOver ||\n    item.voice_over ||\n    item.narration ||\n    item.narration_text ||\n    scenes\n      .map(s =>\n        s.voiceover ||\n        s.voiceOver ||\n        s.voice_over ||\n        s.voice ||\n        s.text_on_screen ||\n        s.textOnScreen ||\n        ''\n      )\n      .filter(Boolean)\n      .join(' ');\n\n  if (!voiceoverFull || !voiceoverFull.trim()) {\n    throw new Error(\n      'Missing voiceover text. Current root keys: ' +\n      Object.keys(item).join(', ') +\n      ' | scene keys: ' +\n      (scenes[0] ? Object.keys(scenes[0]).join(', ') : 'no scenes')\n    );\n  }\n\n  const normalizedScenes = scenes.map((s, index) => ({\n    scene_number: s.scene_number || s.scene || index + 1,\n    duration_sec: Number(s.duration_sec || s.duration || 4),\n    text_on_screen: s.text_on_screen || s.textOnScreen || '',\n    voiceover: s.voiceover || s.voiceOver || s.voice_over || s.voice || '',\n    visual_instruction: s.visual_instruction || s.visualInstruction || '',\n    transition: s.transition || 'cut'\n  }));\n\n  return {\n    json: {\n      ...item,\n      scenes: normalizedScenes,\n      voiceover_full: voiceoverFull.trim(),\n      voiceover_char_count: voiceoverFull.trim().length,\n      voiceover_status: 'normalized'\n    }\n  };\n});"},"id":"a4855b01-65c4-493a-b95d-4051e644ca21","name":"Normalize Voiceover Text1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1536,-272]},{"parameters":{"jsCode":"const item = $json;\nconst scenes = Array.isArray(item.scenes) ? item.scenes : [];\n\nif (!scenes.length) {\n  throw new Error('Missing scenes for subtitle generation');\n}\n\nlet currentTime = 0;\n\nconst subtitles = scenes.map((scene, index) => {\n  const duration = Number(scene.duration_sec || scene.duration || 4);\n\n  const text =\n    scene.voiceover ||\n    scene.voiceOver ||\n    scene.voice_over ||\n    scene.voice ||\n    scene.text_on_screen ||\n    scene.textOnScreen ||\n    '';\n\n  if (!text.trim()) {\n    throw new Error(`Missing subtitle text at scene ${index + 1}`);\n  }\n\n  const subtitle = {\n    index: index + 1,\n    start: Number(currentTime.toFixed(2)),\n    end: Number((currentTime + duration).toFixed(2)),\n    text: text.trim(),\n  };\n\n  currentTime += duration;\n  return subtitle;\n});\n\nreturn {\n  json: {\n    ...item,\n    subtitles,\n    subtitle_status: 'generated',\n    total_duration_sec: Number(currentTime.toFixed(2)),\n  },\n};"},"id":"6292e3a6-be83-4d17-b45c-2556cd87efb5","name":"Generate Subtitles From Scenes1","type":"n8n-nodes-base.code","typeVersion":2,"position":[32,-112]},{"parameters":{"method":"POST","url":"https://api.phaya.io/api/v1/text-to-speech/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"prompt\": $json.voiceover_full, \"voice\": \"Charon\", \"temperature\": 0.8, \"style_instruction\": \"อ่านด้วยเสียงผู้ชาย สุขุม น่าเชื่อถือ ทรงพลัง ชัดถ้อยชัดคำ จังหวะปานกลาง ไม่เร่ง ไม่ขายเกินจริง เหมือนผู้เชี่ยวชาญอธิบายให้ลูกค้าเข้าใจ\" } }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"fb273132-b722-4a0c-9dd5-cbd1dc704e47","name":"Phaya Generate TTS1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-1312,-400],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"amount":35},"id":"c2dec8f0-4df3-4f5a-8d96-b41b2139f8f9","name":"Wait 35s For Phaya1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1088,-400],"webhookId":"9b21a9b0-9b48-4245-8b29-531b521cb91f"},{"parameters":{"url":"={{ 'https://api.phaya.io/api/v1/text-to-speech/status/' + $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"89dbd5ca-531c-49b9-8fa9-95e8606416a9","name":"Poll Phaya TTS Status1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-864,-400],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"30bd9a90-f011-45c9-8ad8-a84b06dec952","leftValue":"={{ $json.status === 'COMPLETED' || $json.status === 'completed' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d3ae1b21-8b2b-499e-9ec7-75f37cfe49e2","name":"IF Phaya Completed1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,-400]},{"parameters":{"amount":10},"id":"31b8996a-a6aa-4551-9960-0e28e029abc9","name":"Wait 10s Retry Phaya1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,-480],"webhookId":"54165013-bea1-41f5-bf46-f080679573b2"},{"parameters":{"url":"={{ 'https://api.phaya.io/api/v1/text-to-speech/status/' + $json.job_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"id":"f07e1a7e-c995-4f27-9f4a-03d14d2fa91a","name":"Poll Phaya TTS Status Retry1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,-480],"credentials":{"httpHeaderAuth":{"id":"Y099atUJyyMKuT1Y","name":"Phaya"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5aff144d-376e-4c5b-8f84-57949357beaa","leftValue":"={{ $json.status === 'COMPLETED' || $json.status === 'completed' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e34c3544-73de-454b-97a1-b662adcca3d7","name":"IF Phaya Completed Retry1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[32,-480]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"owner_message","value":"=⚠️ Phaya TTS not completed after retry\\nJob ID: {{ $json.job_id }}\\nStatus: {{ $json.status }}","type":"string"},{"id":"2","name":"status","value":"tts_not_ready","type":"string"},{"id":"3","name":"created_at","value":"={{ $now.toISO() }}","type":"string"}]},"options":{}},"id":"8a8193d1-6251-490c-926c-a835c66fb27f","name":"Notify Owner - TTS Not Ready1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[256,-144]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"03d62826-df20-49e2-bf32-edda5801a72b","name":"Merge Subtitle + Audio1","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[256,-336]},{"parameters":{"jsCode":"const item = $json;\n\nfunction clean(value) {\n  return String(value ?? '').trim();\n}\n\nfunction isAbsoluteHttpUrl(value) {\n  const s = clean(value);\n  return s.startsWith('https://') || s.startsWith('http://');\n}\n\nfunction uniq(values) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const s = clean(value);\n    if (!s || seen.has(s)) continue;\n    seen.add(s);\n    out.push(s);\n  }\n  return out;\n}\n\nconst rawImageCandidates = [\n  ...(Array.isArray(item.image_urls)\n    ? item.image_urls\n    : (typeof item.image_urls === 'string' ? [item.image_urls] : [])),\n  item.public_image_url,\n  item.image_url,\n  item.source_image_url,\n  item.product_image_url,\n  item.input_image_url,\n  item.main_image_url,\n  item.uploaded_image_url,\n  item.primary_image_url,\n  item.cover_image_url,\n  item.visual_url,\n  item.asset?.public_image_url,\n  item.asset?.image_url,\n];\n\nlet imageUrls = uniq(rawImageCandidates).filter(isAbsoluteHttpUrl);\n\nconst studioAssetId = clean(item.uploaded_asset_id || item.asset_id);\nconst studioAssetImageUrl = studioAssetId\n  ? `https://studio.paaair.online/api/product-video/assets/${encodeURIComponent(studioAssetId)}`\n  : '';\n\nif (!imageUrls.length && studioAssetImageUrl) {\n  imageUrls = [studioAssetImageUrl];\n}\n\nif (!imageUrls.length) {\n  throw new Error(\"Build Render Payload1 missing valid absolute image_url\");\n}\n\nconst primaryImageUrl = imageUrls[0];\nconst audioUrl = item.audio_url || item.voice_url || item.tts_url || item.public_audio_url || item.audioUrl || item.publicAudioUrl || item.result?.audio_url || item.result?.url || item.data?.audio_url || item.data?.url || null;\n\nconst scenes = Array.isArray(item.scenes) && item.scenes.length\n  ? item.scenes\n  : [\n      {\n        scene_number: 1,\n        duration_sec: Number(item.duration_seconds || 4),\n        text: item.voiceover_full || item.text_preview || \"วิดีโอสินค้า\",\n        voiceover: item.voiceover_full || item.text_preview || \"วิดีโอสินค้า\",\n      },\n    ];\n\nconst subtitles = Array.isArray(item.subtitles) && item.subtitles.length\n  ? item.subtitles\n  : scenes.map((scene, index) => {\n      const start = scenes\n        .slice(0, index)\n        .reduce((sum, s) => sum + Number(s.duration_sec || 4), 0);\n      const end = start + Number(scene.duration_sec || 4);\n\n      return {\n        index: index + 1,\n        start,\n        end,\n        text: scene.voiceover || scene.text || \"วิดีโอสินค้า\",\n      };\n    });\n\nif (!primaryImageUrl) {\n  throw new Error('Build Render Payload missing image_urls/public_image_url');\n}\n\nif (!audioUrl) {\n  throw new Error(\"Build Render Payload missing audio_url/public_audio_url\");\n}\nfunction cleanThaiOverlay(value, fallback = '') {\n  return String(value || fallback)\n    .normalize('NFC')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/[^\\u0E00-\\u0E7F0-9\\s.,!?()\\-:]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst overlayTitle =\n  item.brand_context === 'syncflow'\n    ? 'แชทไม่หาย งานไม่หลุด'\n    : 'แอร์ผิดปกติ อย่าปล่อยไว้';\n\nconst safeTitle = cleanThaiOverlay(\n  overlayTitle,\n  'แอร์ผิดปกติ อย่าปล่อยไว้'\n);\n\nreturn {\n  json: {\n    ...item,\n\n    render_status: \"payload_ready\",\n    payload_ready_at: new Date().toISOString(),\n\n    product_id: item.product_id || item.job_id || `line-video-${Date.now()}`,\n    studio_asset_id: studioAssetId || null,\n    uploaded_asset_id: item.uploaded_asset_id || item.asset_id || null,\n\n    // เปลี่ยน default ไม่ให้กลับไปเป็น \"สินค้าไทย PAA\"\n    product_name: safeTitle,\n\n    // ใช้ title ไทยล้วน ป้องกัน □□□\n    title: safeTitle,\n    video_title: safeTitle,\n\n    output_format: \"mp4\",\n\n    width: 1080,\n    height: 1920,\n    fps: 30,\n\n    brand: {\n      ...(item.brand || {}),\n      // Force renderer title source to Thai-only text; never use English brand/business names.\n      name: safeTitle,\n      background_color: item.brand?.background_color || item.brand?.background || item.brand_color || \"#0f172a\",\n      text_color: item.brand?.text_color || item.brand?.foreground || \"#ffffff\",\n      primary_color: item.brand?.primary_color || item.brand?.accent || \"#22c55e\",\n    },\n\n    scenes,\n    subtitles,\n\n    image_urls: imageUrls,\n    image_url: primaryImageUrl,\n    public_image_url: primaryImageUrl,\n    source_image_url: primaryImageUrl,\n    product_image_url: primaryImageUrl,\n    input_image_url: primaryImageUrl,\n    main_image_url: primaryImageUrl,\n    uploaded_image_url: primaryImageUrl,\n    primary_image_url: primaryImageUrl,\n    cover_image_url: primaryImageUrl,\n    visual_url: primaryImageUrl,\n\n    images: imageUrls.map((url, index) => ({\n      url,\n      image_url: url,\n      public_image_url: url,\n      source_image_url: url,\n      role: index === 0 ? \"primary\" : \"secondary\",\n    })),\n\n    media: {\n      ...(item.media || {}),\n      image_url: primaryImageUrl,\n      public_image_url: primaryImageUrl,\n      image_urls: imageUrls,\n      audio_url: audioUrl,\n    },\n\n    input: {\n      ...(item.input || {}),\n      image_url: primaryImageUrl,\n      public_image_url: primaryImageUrl,\n      image_urls: imageUrls,\n      audio_url: audioUrl,\n    },\n\n    assets: {\n      ...(item.assets || {}),\n      image_url: primaryImageUrl,\n      public_image_url: primaryImageUrl,\n      image_urls: imageUrls,\n      audio_url: audioUrl,\n    },\n\n    audio_url: audioUrl,\n\n    overlay_mode: \"none\",\n    center_overlay_enabled: false,\n    show_center_overlay: false,\n    accent_line_enabled: false,\n    progress_line_enabled: false,\n    show_bottom_line: false,\n\n    preview_only: true,\n    real_posting_enabled: false,\n    posting_allowed: false,\n    line_broadcast_enabled: false,\n    schedule_enabled: false,\n  },\n};"},"id":"a2c8b4b2-f5bd-4ca6-aade-664778b36c36","name":"Build Render Payload1","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,-336]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $json;\n\nif (json.render_status !== 'payload_ready') {\n  throw new Error('Render payload is not ready');\n}\n\nif (!Array.isArray(json.scenes) || json.scenes.length === 0) {\n  throw new Error('Missing scenes');\n}\n\nif (!Array.isArray(json.subtitles) || json.subtitles.length === 0) {\n  throw new Error('Missing subtitles');\n}\n\nif (!json.audio_url) {\n  throw new Error('Missing audio_url');\n}\n\nif (!json.width || !json.height || !json.fps) {\n  throw new Error('Missing video render dimensions/fps');\n}\n\nreturn {\n  json: {\n    ...json,\n    validation_status: 'ok',\n    validated_at: new Date().toISOString(),\n  }\n};"},"id":"1341bd65-6cc5-4773-92d2-7ce3a6331f36","name":"Validate Render Payload1","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,-336]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"8e8ae014-c2d8-491a-95f5-ef6ae7073a4b","leftValue":"={{ $env.VIDEO_RENDER_MOCK !== 'false' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"d6c6759c-cd24-4e45-9e86-37f5fa29246e","name":"IF Use Mock Render1","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[928,-336]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $json;\nconst id = json.product_id || 'TEST-VIDEO-001';\n\nreturn {\n  json: {\n    ...json,\n    ok: true,\n    render_mode: 'mock',\n    video_url: `https://example.com/rendered/${id}.mp4`,\n    thumbnail_url: `https://example.com/rendered/${id}.jpg`,\n    duration_sec: json.duration_target_sec || 30,\n    file_size_mb: 8.5,\n    render_status: 'completed'\n  }\n};"},"id":"67207b54-203e-4e54-af88-cf5e63a5078a","name":"Mock Render Result1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,-480]},{"parameters":{"method":"POST","url":"http://paa-video-renderer:8099/render-video","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{"response":{"response":{"responseFormat":"json"}},"timeout":300000}},"id":"5a157ffc-c229-489e-8e18-f1b12ed3d3fa","name":"Call Render Service1","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1152,-112]},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"9e6c8cfa-ec0e-450a-8a8c-2ceb7ec519b5","name":"Merge Render Payload + Result1","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1376,-192]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const baseApprovalUrl = 'https://admin.paaair.online/webhook/video-approval';\nconst publicMediaBase = 'https://admin.paaair.online/media/';\n\nfunction cleanString(value) {\n  return String(value || '').trim();\n}\n\nfunction toPublicMediaUrl(value) {\n  const raw = cleanString(value);\n  if (!raw) return '';\n\n  if (raw.startsWith('https://admin.paaair.online/media/')) {\n    return raw;\n  }\n\n  const marker = '/media/';\n  const index = raw.indexOf(marker);\n\n  if (index >= 0) {\n    const filename = raw.slice(index + marker.length);\n    return publicMediaBase + encodeURIComponent(filename).replace(/%2F/g, '/');\n  }\n\n  return raw;\n}\n\nconst jobId = cleanString(\n  $json.job_id ||\n  $json.product_id ||\n  $json.messageId ||\n  $json.message_id\n);\n\nconst productId = cleanString($json.product_id || jobId);\n\nconst token = cleanString(\n  $json.approval_token ||\n  $json.token ||\n  $json.messageId ||\n  jobId\n);\n\nif (!jobId) {\n  throw new Error('Missing job_id/product_id/messageId for approval URL');\n}\n\nif (!token) {\n  throw new Error('Missing approval token for approval URL');\n}\n\nconst videoUrl = toPublicMediaUrl(\n  $json.public_video_url ||\n  $json.video_url ||\n  $json.output_url ||\n  $json.render_url ||\n  $json.media_url\n);\n\nconst thumbnailUrl = toPublicMediaUrl(\n  $json.public_thumbnail_url ||\n  $json.thumbnail_url ||\n  $json.image_url ||\n  ''\n);\n\nreturn {\n  json: {\n    ...$json,\n\n    job_id: jobId,\n    product_id: productId,\n    approval_token: token,\n\n    video_url: videoUrl,\n    public_video_url: videoUrl,\n    thumbnail_url: thumbnailUrl,\n    public_thumbnail_url: thumbnailUrl,\n\n    approve_url:\n      baseApprovalUrl +\n      '?action=approve' +\n      '&job_id=' +\n      encodeURIComponent(jobId) +\n      '&product_id=' +\n      encodeURIComponent(productId) +\n      '&token=' +\n      encodeURIComponent(token),\n\n    reject_url:\n      baseApprovalUrl +\n      '?action=reject' +\n      '&job_id=' +\n      encodeURIComponent(jobId) +\n      '&product_id=' +\n      encodeURIComponent(productId) +\n      '&token=' +\n      encodeURIComponent(token),\n\n    real_posting_enabled: false,\n    posting_allowed: false,\n  },\n};"},"id":"f29645e7-d9e1-47fa-9b75-27db3c8424d0","name":"Normalize Render Result + Approval Links1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,-352]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"created_at","value":"={{ $now.toISO() }}","type":"string"},{"id":"2","name":"product_id","value":"={{ $json.product_id }}","type":"string"},{"id":"3","name":"script_status","value":"={{ $json.script_status || 'safe' }}","type":"string"},{"id":"4","name":"voice_status","value":"completed","type":"string"},{"id":"5","name":"render_status","value":"={{ $json.render_status }}","type":"string"},{"id":"6","name":"approval_status","value":"pending_approval","type":"string"},{"id":"7","name":"post_status","value":"not_posted","type":"string"},{"id":"8","name":"video_url","value":"={{ $json.video_url }}","type":"string"}]},"options":{}},"id":"09169510-2fd8-4546-b7ed-6d4dbf2ae5be","name":"Log Workflow Execution1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2272,-192]},{"parameters":{"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2784,-208],"id":"aef3b157-8de9-4b62-bf74-101f6da82acb","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"T5PsjgxwRNTvErpt","name":"OpenRouter free"}}},{"parameters":{"operation":"send","to":"={{ $json.owner_line_user_id || $json.userId || $json.user_id || $json.ownerLineUserId || \"U58a57bb40803980514411bfc0c9757e1\" }}","messages":{"values":[{"altText":"วิดีโอพร้อมตรวจแล้ว","flexJson":"={{ JSON.stringify({\n  type: \"bubble\",\n  body: {\n    type: \"box\",\n    layout: \"vertical\",\n    spacing: \"md\",\n    contents: [\n      {\n        type: \"text\",\n        text: \"🎬 วิดีโอพร้อมตรวจแล้ว\",\n        weight: \"bold\",\n        size: \"lg\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: (($json.brand_context === \"syncflow\") ? \"SyncFlow\" : \"PAA Air\") + \" | \" + ($json.product_id || $json.job_id || \"-\"),\n        size: \"sm\",\n        color: \"#666666\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"หัวข้อ: \" + ($json.video_title || $json.title || \"-\"),\n        size: \"sm\",\n        wrap: true\n      },\n      {\n        type: \"separator\",\n        margin: \"md\"\n      },\n      {\n        type: \"text\",\n        text: \"สถานะ: ยังไม่โพสต์จริง\",\n        size: \"xs\",\n        color: \"#999999\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"real_posting_enabled=false\",\n        size: \"xxs\",\n        color: \"#999999\",\n        wrap: true\n      },\n      {\n        type: \"text\",\n        text: \"posting_allowed=false\",\n        size: \"xxs\",\n        color: \"#999999\",\n        wrap: true\n      }\n    ]\n  },\n  footer: {\n    type: \"box\",\n    layout: \"vertical\",\n    spacing: \"sm\",\n    contents: [\n      {\n        type: \"button\",\n        style: \"primary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"▶️ เปิดวิดีโอ\",\n          uri: String($json.public_video_url || $json.video_url || \"https://admin.paaair.online\")\n        }\n      },\n      {\n        type: \"button\",\n        style: \"primary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"✅ อนุมัติ\",\n          uri: String($json.approve_url || \"https://admin.paaair.online\")\n        }\n      },\n      {\n        type: \"button\",\n        style: \"secondary\",\n        height: \"sm\",\n        action: {\n          type: \"uri\",\n          label: \"❌ ไม่ใช้วิดีโอนี้\",\n          uri: String($json.reject_url || \"https://admin.paaair.online\")\n        }\n      }\n    ]\n  }\n}) }}","type":"flex"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[2048,-192],"id":"347e8015-7c45-48fc-abb0-630f9031485b","name":"Line Messaging1","credentials":{"lineMessagingApi":{"id":"dv1qBRSHVe1Dx2vM","name":"Reel clip"}}},{"parameters":{"promptType":"define","text":"=สร้างสคริปต์วิดีโอขายสินค้า/บริการจากข้อมูลนี้:\n\nสินค้า/บริการ:\n{{ $json.product_name }}\n\nกลุ่มลูกค้า:\n{{ $json.target_customer }}\n\nปัญหาลูกค้า:\n{{ $json.pain_point }}\n\nจุดเด่น:\n{{ $json.benefits }}\n\nราคา/โปรโมชั่น:\n{{ $json.offer }}\n\nCall to Action:\n{{ $json.call_to_action }}\n\nเงื่อนไข:\n- ภาษาไทย\n- Hook ต้องแรงใน 3 วินาทีแรก\n- ความยาวรวม 20–45 วินาที\n- แบ่งเป็น 5–7 scenes\n- แต่ละ scene มี text_on_screen สั้นมาก\n- ทุก scene ต้องมี voiceover\n- ห้ามใช้คำเคลมเกินจริง เช่น ดีที่สุด อันดับ 1 การันตี 100%\n- ห้ามแต่งราคาหรือโปรเอง\n- เหมาะกับมือถือแนวตั้ง 9:16\n- คืนค่าเป็น JSON เท่านั้น","hasOutputParser":true,"options":{"systemMessage":"คุณคือครีเอเตอร์วิดีโอสั้นของ PAA Air Service\n\nบริบทธุรกิจ:\n- PAA Air Service ให้บริการล้างแอร์ ซ่อมแอร์ ติดตั้งแอร์ ย้ายแอร์ และงานระบบความเย็น\n- พื้นที่หลักคือ สมุทรปราการ กรุงเทพฯ และปริมณฑล\n- ลูกค้าคือเจ้าของบ้าน ร้านค้า อาคาร โรงงาน และธุรกิจที่มีปัญหาแอร์\n- โทนต้องมืออาชีพ เข้าใจง่าย สุภาพ ไม่ขายแรงเกินไป\n- ห้ามใช้คำว่า สินค้าไทย ช้อปปิ้ง สั่งซื้อสินค้า\n- ถ้าภาพเป็นท่อ คราบ น้ำมัน สนิม อุปกรณ์ หรือหน้างาน ให้ตีความเป็นงานตรวจเช็ก ซ่อม หรือบำรุงรักษาแอร์\n- ห้ามเดาราคา ถ้าไม่มีข้อมูล\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nภาพหรือบริบท:\n{{$json.visual_context || \"ภาพหน้างานบริการแอร์\"}}\n\nบริการ:\n{{$json.product_name || \"บริการตรวจเช็กและซ่อมแอร์\"}}\n\nพื้นที่ให้บริการ:\n{{$json.service_area || \"สมุทรปราการ กรุงเทพฯ และปริมณฑล\"}}\n\nกลุ่มลูกค้า:\n{{$json.target_customer || \"เจ้าของบ้าน ร้านค้า อาคาร โรงงาน หรือธุรกิจที่มีปัญหาแอร์\"}}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\n\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม:\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE\",\n  \"call_to_action\": \"ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ\"\n}\n\nข้อกำหนด:\n- scenes 3 ถึง 5 ฉาก\n- text บนจอแต่ละฉากไม่เกิน 22 ตัวอักษร\n- voiceover ต้องเหมือนคนจริง ไม่แข็ง\n- ใช้คำว่า แอร์ หน้างาน ตรวจเช็ก ซ่อม ล้างแอร์ ได้ตามบริบท\n- ห้ามใช้ emoji\n- ห้ามใช้เครื่องหมายพิเศษ","maxIterations":3}},"id":"3dcfce6b-8dcc-4f5d-9168-6f0bb3e87411","name":"Generate PAA Air Script1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2784,-432]},{"parameters":{"promptType":"define","text":"=สร้างสคริปต์วิดีโอขายสินค้า/บริการจากข้อมูลนี้:\n\nสินค้า/บริการ:\n{{ $json.product_name }}\n\nกลุ่มลูกค้า:\n{{ $json.target_customer }}\n\nปัญหาลูกค้า:\n{{ $json.pain_point }}\n\nจุดเด่น:\n{{ $json.benefits }}\n\nราคา/โปรโมชั่น:\n{{ $json.offer }}\n\nCall to Action:\n{{ $json.call_to_action }}\n\nเงื่อนไข:\n- ภาษาไทย\n- Hook ต้องแรงใน 3 วินาทีแรก\n- ความยาวรวม 20–45 วินาที\n- แบ่งเป็น 5–7 scenes\n- แต่ละ scene มี text_on_screen สั้นมาก\n- ทุก scene ต้องมี voiceover\n- ห้ามใช้คำเคลมเกินจริง เช่น ดีที่สุด อันดับ 1 การันตี 100%\n- ห้ามแต่งราคาหรือโปรเอง\n- เหมาะกับมือถือแนวตั้ง 9:16\n- คืนค่าเป็น JSON เท่านั้น","hasOutputParser":true,"options":{"systemMessage":"=const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const ai_prompt = `\nคุณคือครีเอเตอร์วิดีโอสั้นของ SyncFlow by PAA Tech\n\nบริบทธุรกิจ:\n- SyncFlow คือระบบช่วยธุรกิจบริการรับแชท เก็บข้อมูลงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE\n- กลุ่มลูกค้าคือ เจ้าของธุรกิจบริการ แอดมินร้าน ทีมช่าง ร้านซ่อม สปา คลินิก และธุรกิจที่รับงานจากแชท\n- จุดขายหลักคือ แชทไม่หาย งานไม่หลุด ทีมเห็นสถานะเดียวกัน ลดงานซ้ำของแอดมิน\n- ห้ามใช้คำว่า สินค้าไทย สั่งซื้อสินค้า ช้อปปิ้ง\n- ห้ามใช้คำว่า งานแอร์ ยกเว้นผู้ใช้ระบุว่าเป็นธุรกิจช่างแอร์\n- หลีกเลี่ยงศัพท์ยาก เช่น lead CRM automation ถ้าใช้ต้องอธิบายเป็นภาษาง่าย\n- ใช้คำง่าย เช่น ลูกค้าทักมา เก็บเป็นงาน แจ้งเตือนทีม ไม่ลืมตามงาน เห็นคิวงานชัดเจน\n- โทนทันสมัย มืออาชีพ เข้าใจง่าย ไม่ขายฝันเกินจริง\n- ห้ามพูดว่าระบบทำแทนคนทั้งหมด\n- ห้าม emoji\n- ห้ามเครื่องหมายพิเศษที่ทำให้ฟอนต์พัง\n\nข้อมูลจาก workflow:\nบริบทภาพหรือระบบ: ${json.visual_context || 'ภาพระบบจัดการแชทและคิวงานของธุรกิจบริการ'}\nบริการ: ${json.product_name || 'ระบบรับแชทและจัดการงานอัตโนมัติ'}\nกลุ่มเป้าหมาย: ${json.target_customer || 'เจ้าของธุรกิจบริการที่รับงานผ่านแชท'}\n\nสร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ Reels TikTok Shorts ความยาว 15 ถึง 25 วินาที\nตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม\n\n{\n  \"hook\": \"ประโยคเปิดคลิป ไม่เกิน 18 คำ\",\n  \"voiceover_full\": \"สคริปต์เสียงรวม 15 ถึง 25 วินาที ภาษาไทย อ่านลื่น เป็นธรรมชาติ\",\n  \"scenes\": [\n    {\n      \"scene_number\": 1,\n      \"duration_sec\": 4,\n      \"text\": \"ข้อความบนจอแบบสั้น ไม่เกิน 22 ตัวอักษร\",\n      \"voiceover\": \"เสียงพูดฉากนี้\",\n      \"visual_instruction\": \"คำแนะนำภาพ\",\n      \"transition\": \"fade\"\n    }\n  ],\n  \"caption_reels\": \"แคปชันสั้นพร้อม CTA ให้ทัก LINE หรือดูเดโม\",\n  \"call_to_action\": \"ทัก LINE เพื่อดูเดโม SyncFlow\"\n}\n`;\n\n  return {\n    json: {\n      ...json,\n      brand_context: 'syncflow',\n      business_name: 'SyncFlow by PAA Tech',\n      brand_name: 'SyncFlow by PAA Tech',\n      product_name: 'ระบบจัดการแชทและงานบริการ',\n      title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      video_title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      ai_prompt,\n      ai_script_json: {\n        hook: 'ลูกค้าทักมา แต่งานยังหลุดไหม',\n        voiceover_full: 'หลายธุรกิจรับงานผ่านแชททุกวัน แต่พอแชทเยอะ ข้อมูลก็กระจาย งานหลุด และทีมตามต่อยาก SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE ให้เจ้าของเห็นภาพรวมชัดขึ้น ทัก LINE เพื่อดูเดโมได้เลย',\n        scenes: [\n          { scene_number: 1, duration_sec: 4, text: 'แชทเยอะงานหลุด', voiceover: 'หลายธุรกิจรับงานผ่านแชททุกวัน', visual_instruction: 'ภาพแชทลูกค้าหลายรายการ', transition: 'fade' },\n          { scene_number: 2, duration_sec: 5, text: 'เก็บเป็นงานทันที', voiceover: 'SyncFlow ช่วยเปลี่ยนแชทให้เป็นงาน', visual_instruction: 'ภาพแชทไหลเข้าเป็นคิวงาน', transition: 'fade' },\n          { scene_number: 3, duration_sec: 5, text: 'แจ้งเตือนทีม', voiceover: 'ทีมเห็นสถานะเดียวกันและตามงานต่อได้ง่ายขึ้น', visual_instruction: 'ภาพแจ้งเตือนผ่าน LINE', transition: 'fade' }\n        ],\n        caption_reels: 'แชทไม่หาย งานไม่หลุด SyncFlow ช่วยธุรกิจบริการเก็บงานจากแชทและแจ้งเตือนทีมผ่าน LINE ทักเพื่อดูเดโม',\n        call_to_action: 'ทัก LINE เพื่อดูเดโม SyncFlow'\n      },\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  };\n});","maxIterations":3}},"id":"8cf5caae-12b5-4966-9b84-81fc99ca2ae9","name":"Generate SyncFlow Script1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[-2752,16]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction cleanString(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nfunction cleanText(value, fallback = '') {\n  return cleanString(value, fallback)\n    .normalize('NFC')\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '')\n    .replace(/[^\\u0E00-\\u0E7Fa-zA-Z0-9\\s.,!?()\\-:]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractJson(value) {\n  if (typeof value === 'object' && value !== null) return value;\n\n  const raw = String(value ?? '').trim();\n\n  if (!raw) return {};\n\n  try {\n    return JSON.parse(raw);\n  } catch (_) {}\n\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (_) {}\n  }\n\n  return {};\n}\n\nreturn items.map(({ json }) => {\n  const candidate =\n    json.ai_script_json ||\n    json.output ||\n    json.text ||\n    json.response ||\n    json.result ||\n    json.message ||\n    json.data ||\n    json;\n\n  const parsed = extractJson(candidate);\n\n  const hook = cleanText(parsed.hook || json.hook, '');\n  const voiceoverFull = cleanText(\n    parsed.voiceover_full ||\n    json.voiceover_full ||\n    parsed.voiceover ||\n    json.voiceover ||\n    '',\n    ''\n  );\n\n  const scenesRaw = Array.isArray(parsed.scenes)\n    ? parsed.scenes\n    : Array.isArray(json.scenes)\n      ? json.scenes\n      : [];\n\n  const scenes = scenesRaw.slice(0, 5).map((scene, index) => {\n    const text = cleanText(scene.text || scene.title || hook || 'ข้อความบนจอ', 'ข้อความบนจอ');\n    const voiceover = cleanText(scene.voiceover || scene.text || voiceoverFull || text, text);\n\n    return {\n      scene_number: Number(scene.scene_number || index + 1),\n      duration_sec: Number(scene.duration_sec || 4),\n      text: text.slice(0, 60),\n      voiceover,\n      visual_instruction: cleanText(scene.visual_instruction || '', ''),\n      transition: cleanText(scene.transition || 'fade', 'fade'),\n    };\n  });\n\n  const finalScenes = scenes.length\n    ? scenes\n    : [\n        {\n          scene_number: 1,\n          duration_sec: 4,\n          text: cleanText(hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n          voiceover: cleanText(voiceoverFull || hook || 'เริ่มต้นคลิป', 'เริ่มต้นคลิป'),\n          visual_instruction: '',\n          transition: 'fade',\n        },\n      ];\n\n  const finalVoiceover = voiceoverFull || finalScenes.map(s => s.voiceover).join(' ');\n\n  if (!finalVoiceover) {\n    throw new Error('Missing voiceover_full from AI script output');\n  }\n\n  return {\n    json: {\n      ...json,\n\n      hook,\n      voiceover_full: finalVoiceover,\n      scenes: finalScenes,\n\n      caption_reels: cleanText(parsed.caption_reels || json.caption_reels, ''),\n      call_to_action: cleanText(\n        parsed.call_to_action ||\n        json.call_to_action ||\n        (json.brand_context === 'syncflow'\n          ? 'ทัก LINE เพื่อดูเดโม SyncFlow'\n          : 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ'),\n        ''\n      ),\n\n      script_status: 'ready',\n      script_normalized_at: new Date().toISOString(),\n\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"76259d60-e071-4c70-a934-a9ba895ff5ba","name":"Normalize Script Output2","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2432,-176]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction clean(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nreturn items.map(({ json }) => {\n  const raw = clean(json.brand_context || json.brandContext || $env.DEFAULT_VIDEO_BRAND_CONTEXT || 'paa_air').toLowerCase();\n  const brand_context = raw.includes('sync') ? 'syncflow' : 'paa_air';\n  return { json: { ...json, brand_context } };\n});"},"id":"a55eaf1c-2ba9-407c-8594-94daac390e45","name":"Set Brand Context1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,-176]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5d5a65c-416a-40f2-9013-1a4ba34aa20f","leftValue":"={{$json.brand_context}}","rightValue":"paa_air","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"paa_air"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"87c9cadd-fa55-4fdf-87d0-4cae34b342d8","leftValue":"={{$json.brand_context}}","rightValue":"syncflow","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"syncflow"}]},"options":{}},"id":"e80c19ca-7df4-470b-aa3c-58ebdf968999","name":"Switch Brand Context1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-3008,-176]},{"parameters":{"httpMethod":"POST","path":"product-video-preview","responseMode":"responseNode","options":{}},"id":"49afb740-4554-4149-ae1d-de09ab65444d","name":"LINE Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-5024,3232],"webhookId":"ef7a5617-99c4-4105-96c1-153938a3afed"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1","leftValue":"={{ $json.body?.events?.[0]?.source?.userId || '' }}","rightValue":"U8e00779dbd898b95946cf2fb0b691af2","operator":{"type":"string","operation":"equals"}},{"id":"2","leftValue":"={{ $json.body?.events?.[0]?.message?.type || '' }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ade1dab3-9f0d-471c-8f85-4c66f92d39ab","name":"Check Owner + Message Type","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4800,-304]},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"messageId","value":"={{ $json.body.events[0].message.id }}","type":"string"},{"id":"2","name":"replyToken","value":"={{ $json.body.events[0].replyToken }}","type":"string"},{"id":"3","name":"userId","value":"={{ $json.body.events[0].source.userId }}","type":"string"}]},"options":{}},"id":"ae5978c5-a21e-44d4-97d0-8caf21da33fb","name":"Extract Image ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4576,-304]},{"parameters":{"url":"={{ \"https://line-image-relay.paaairservice.workers.dev/line-content/product-video/\" + $json.messageId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eeb74ad249d734f8062bc0f548a4f7fe9ff4f362a11d51cee5b74dba169e0550"}]},"options":{"response":{"response":{"neverError":true,"responseFormat":"file"}},"timeout":30000}},"id":"9457e5fc-95c8-4e02-9e6b-7eaac5be1372","name":"Download Image from LINE","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4352,-304],"retryOnFail":true},{"parameters":{"operation":"upload","bucketName":"paa-video-assets","fileName":"=uploads/{{$json.messageId}}.jpg","additionalFields":{}},"type":"n8n-nodes-base.s3","typeVersion":1,"position":[-4128,-304],"id":"1506b11a-2be4-4e1c-a5ae-2b8fb93e30bb","name":"Upload a file","credentials":{"s3":{"id":"JMLWb0TMb4eRFsMb","name":"s3_PAA"}}},{"parameters":{"assignments":{"assignments":[{"id":"1","name":"public_image_url","value":"={{ \"https://s3.paaair.online/paa-video-assets/uploads/\" + $('Download Image from LINE').item.json.messageId + \".jpg\" }}","type":"string"},{"id":"2","name":"messageId","value":"={{ $('Download Image from LINE').item.json.messageId }}","type":"string"},{"id":"3","name":"replyToken","value":"={{ $('LINE Webhook').item.json.body.events[0].replyToken }}","type":"string"},{"id":"4","name":"userId","value":"={{ $('LINE Webhook').item.json.body.events[0].source.userId }}","type":"string"}]},"options":{}},"id":"add98eb3-db7e-4074-9fae-cf1f27f87bef","name":"Build Public Image URL","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3904,-304]},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction cleanString(value, fallback = '') {\n  const s = String(value ?? '').trim();\n  return s || fallback;\n}\n\nfunction buildPublicImageUrl(json) {\n  const existing = cleanString(\n    json.public_image_url ||\n    json.publicImageUrl ||\n    json.image_url ||\n    json.imageUrl\n  );\n\n  const messageId = cleanString(\n    json.messageId ||\n    json.message_id ||\n    json.image_id ||\n    json.imageId\n  );\n\n  if (existing && !existing.includes('cdn.example.com') && !existing.includes('/bucket/uploads')) {\n    return existing;\n  }\n\n  if (!messageId) return existing;\n\n  const base = cleanString(\n    $env.PUBLIC_LINE_IMAGE_BASE_URL ||\n    $env.PUBLIC_MINIO_UPLOAD_BASE_URL ||\n    'https://s3.paaair.online/paa-video-assets/uploads'\n  ).replace(/\\/+$/, '');\n\n  return `${base}/${messageId}.jpg`;\n}\n\nfunction detectBrandContext(json) {\n  const raw = [\n    json.brand_context,\n    json.brand,\n    json.brand_name,\n    json.business_name,\n    json.product_name,\n    json.caption,\n    json.message,\n    json.text,\n    json.raw_text,\n    json.notes,\n  ]\n    .filter(Boolean)\n    .join(' ')\n    .toLowerCase();\n\n  if (\n    raw.includes('syncflow') ||\n    raw.includes('paa tech') ||\n    raw.includes('ระบบจัดการแชท') ||\n    raw.includes('รับแชท') ||\n    raw.includes('คิวหลุด') ||\n    raw.includes('งานไม่หลุด')\n  ) {\n    return 'syncflow';\n  }\n\n  if (\n    raw.includes('paa air') ||\n    raw.includes('pa air') ||\n    raw.includes('pa cooling') ||\n    raw.includes('แอร์') ||\n    raw.includes('ล้างแอร์') ||\n    raw.includes('ซ่อมแอร์') ||\n    raw.includes('ติดตั้งแอร์')\n  ) {\n    return 'paa_air';\n  }\n\n  return 'paa_air';\n}\n\nfunction getBrandProfile(brandContext) {\n  if (brandContext === 'syncflow') {\n    return {\n      business_name: 'SyncFlow by PAA Tech',\n      brand_name: 'SyncFlow by PAA Tech',\n      brand_color: '#f97316',\n      business_type: 'ระบบช่วยธุรกิจบริการรับแชท เก็บงาน จัดคิว และแจ้งเตือนทีมผ่าน LINE',\n      service_area: 'ให้บริการธุรกิจบริการทั่วไทย',\n      target_customer: 'เจ้าของธุรกิจบริการ แอดมินร้าน ทีมช่าง ร้านซ่อม สปา คลินิก และธุรกิจที่รับงานผ่านแชท',\n      product_name: 'ระบบจัดการแชทและงานบริการ',\n      title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      video_title: 'เปลี่ยนทุกข้อความให้เป็นงาน',\n      visual_context: 'ภาพระบบ SyncFlow สำหรับจัดการแชท คิวงาน งานบริการ และ dashboard การทำงาน',\n      pain_point: 'ลูกค้าทักหลายช่องทาง ข้อมูลกระจัดกระจาย แอดมินลืมตอบ งานหลุด และทีมไม่เห็นสถานะเดียวกัน',\n      benefits: 'ช่วยรวมแชท เก็บเป็นงาน จัดคิว แจ้งเตือนทีม และทำให้เจ้าของเห็นภาพรวมชัดขึ้น',\n      offer: 'ขอดูเดโมระบบ SyncFlow ได้ทาง LINE',\n      call_to_action: 'ทัก LINE เพื่อดูเดโม SyncFlow',\n      tone: 'ทันสมัย มืออาชีพ เข้าใจง่าย ไม่ใช้ศัพท์เทคนิคเยอะ',\n      overlay_mode: 'none',\n      center_overlay_enabled: false,\n      show_center_overlay: false,\n      accent_line_enabled: false,\n      progress_line_enabled: false,\n      show_bottom_line: false,\n      script_prompt: 'สร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ SyncFlow by PAA Tech ห้ามใช้คำว่าสินค้าไทย ห้ามพูดเรื่องงานแอร์ ยกเว้นผู้ใช้ระบุว่าเป็นธุรกิจช่างแอร์ เน้นรับแชท เก็บเป็นงาน จัดคิว แจ้งเตือนทีม ลดงานหลุด และดูเดโม',\n    };\n  }\n\n  return {\n    business_name: 'PAA Air Service',\n    brand_name: 'PAA Air Service',\n    brand_color: '#22c55e',\n    business_type: 'บริการแอร์ ซ่อมแอร์ ล้างแอร์ ติดตั้งแอร์ และงานระบบความเย็น',\n    service_area: 'สมุทรปราการ กรุงเทพฯ และปริมณฑล',\n    target_customer: 'เจ้าของบ้าน ร้านค้า โรงงาน หรืออาคารที่มีปัญหาแอร์',\n    product_name: 'บริการตรวจเช็กและซ่อมแอร์',\n    title: 'แอร์ผิดปกติ อย่าปล่อยไว้',\n    video_title: 'แอร์ผิดปกติ อย่าปล่อยไว้',\n    visual_context: 'ภาพหน้างานบริการแอร์ ตรวจเช็ก ซ่อม ล้างแอร์ หรือระบบความเย็น',\n    pain_point: 'แอร์มีอาการผิดปกติ เย็นน้อย มีคราบ รั่ว หรือควรตรวจเช็กก่อนเสียหนัก',\n    benefits: 'ช่วยประเมินอาการเบื้องต้นจากรูป ลดความเสี่ยงเสียหนัก และแนะนำแนวทางซ่อมที่เหมาะกับหน้างาน',\n    offer: 'ส่งรูปหรือสอบถามอาการเบื้องต้นได้ทาง LINE',\n    call_to_action: 'ทัก LINE เพื่อส่งรูปหรือสอบถามอาการ',\n    tone: 'มืออาชีพ เข้าใจง่าย สุภาพ ไม่ขายแรงเกินไป',\n    overlay_mode: 'none',\n    center_overlay_enabled: false,\n    show_center_overlay: false,\n    accent_line_enabled: false,\n    progress_line_enabled: false,\n    show_bottom_line: false,\n    script_prompt: 'สร้างสคริปต์วิดีโอสั้นภาษาไทยสำหรับ PAA Air Service จากภาพหน้างานแอร์ ห้ามใช้คำว่าสินค้าไทย ห้ามใช้ emoji ห้ามเดาราคา เน้นตรวจเช็ก ซ่อม ล้างแอร์ และให้ลูกค้าทัก LINE เพื่อประเมินเบื้องต้น',\n  };\n}\n\nreturn items.map(({ json }) => {\n  const publicImageUrl = buildPublicImageUrl(json);\n  const messageId = cleanString(\n    json.messageId || json.message_id || json.image_id || json.imageId,\n    String(Date.now())\n  );\n\n  if (!publicImageUrl) throw new Error('Missing public_image_url after LINE image upload');\n\n  const brandContext = detectBrandContext(json);\n  const profile = getBrandProfile(brandContext);\n\n  return {\n    json: {\n      ...json,\n      source: cleanString(json.source, 'line_image'),\n      job_id: cleanString(json.job_id, `line-image-${messageId}`),\n      product_id: cleanString(json.product_id, `line-image-${messageId}`),\n      messageId,\n      owner_line_user_id: cleanString(json.userId || json.owner_line_user_id || json.ownerLineUserId),\n      public_image_url: publicImageUrl,\n      image_url: publicImageUrl,\n      image_urls: [publicImageUrl],\n      brand_context: brandContext,\n      ...profile,\n      price: '',\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"b759f200-f852-41b5-a9bd-e3115e55fa4e","name":"Normalize LINE Image Input for Main Flow1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3456,-304]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\n\nif (!staticData.brand_context_by_user) {\n  staticData.brand_context_by_user = {};\n}\n\nconst json = $input.all()[0]?.json || $json || {};\nconst event = json.body?.events?.[0] || json.events?.[0] || {};\n\nconst userId =\n  json.userId ||\n  json.user_id ||\n  json.owner_line_user_id ||\n  event.source?.userId ||\n  '';\n\nconst text = String(\n  json.text ||\n  json.message?.text ||\n  event.message?.text ||\n  ''\n).trim().toLowerCase();\n\nconst replyToken = event.replyToken || json.replyToken || '';\n\nlet brandContext = null;\n\nif (\n  text === 'syncflow' ||\n  text === 'sf' ||\n  text === '#syncflow' ||\n  text.includes('syncflow') ||\n  text.includes('ซิงค์โฟลว์')\n) {\n  brandContext = 'syncflow';\n}\n\nif (\n  text === 'paa' ||\n  text === 'paa_air' ||\n  text === '#paa' ||\n  text.includes('paa air') ||\n  text.includes('pa cooling') ||\n  text.includes('แอร์')\n) {\n  brandContext = 'paa_air';\n}\n\nif (!userId) {\n  return [{\n    json: {\n      success: false,\n      reason: 'missing_user_id',\n      replyToken,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  }];\n}\n\nif (!brandContext) {\n  return [{\n    json: {\n      success: false,\n      reason: 'not_brand_command',\n      text,\n      replyToken,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    }\n  }];\n}\n\nconst ttlMs = 10 * 60 * 1000;\nconst now = Date.now();\n\nstaticData.brand_context_by_user[userId] = {\n  brand_context: brandContext,\n  user_id: userId,\n  saved_at: new Date(now).toISOString(),\n  expires_at: new Date(now + ttlMs).toISOString(),\n};\n\nreturn [{\n  json: {\n    success: true,\n    reason: 'brand_context_saved',\n    brand_context: brandContext,\n    brand_context_source: 'text_command',\n    userId,\n    user_id: userId,\n    owner_line_user_id: userId,\n    replyToken,\n    reply_text:\n      brandContext === 'syncflow'\n        ? 'ตั้งค่าแบรนด์เป็น SyncFlow แล้ว ส่งรูปต่อได้เลย'\n        : 'ตั้งค่าแบรนด์เป็น PAA Air แล้ว ส่งรูปต่อได้เลย',\n    real_posting_enabled: false,\n    posting_allowed: false,\n  }\n}];"},"id":"fe1b3eba-3a10-40f2-b2a0-e1dba24e9db3","name":"Save Brand Context Command1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4800,-496]},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst items = $input.all();\nconst now = Date.now();\n\nif (!staticData.brand_context_by_user) {\n  staticData.brand_context_by_user = {};\n}\n\n// Cleanup expired records.\nfor (const [key, value] of Object.entries(staticData.brand_context_by_user)) {\n  const expiresAt = new Date(value?.expires_at || 0).getTime();\n  if (!Number.isFinite(expiresAt) || expiresAt <= now) {\n    delete staticData.brand_context_by_user[key];\n  }\n}\n\nfunction cleanString(value, fallback = '') {\n  if (value === null || value === undefined) return fallback;\n  return String(value).trim();\n}\n\nfunction firstLineEvent(json) {\n  if (Array.isArray(json?.events) && json.events.length > 0) {\n    return json.events[0];\n  }\n  return null;\n}\n\nfunction getUserId(json) {\n  const event = firstLineEvent(json);\n  return cleanString(\n    json.userId ||\n    json.user_id ||\n    json.owner_line_user_id ||\n    json.ownerLineUserId ||\n    json.source?.userId ||\n    event?.source?.userId ||\n    event?.source?.groupId ||\n    ''\n  );\n}\n\nfunction normalizeBrandContext(value) {\n  const raw = cleanString(value).toLowerCase();\n  if (!raw) return null;\n\n  if (\n    raw === 'syncflow' ||\n    raw === 'sf' ||\n    raw.includes('syncflow') ||\n    raw.includes('paa tech') ||\n    raw.includes('ซิงค์โฟลว์') ||\n    raw.includes('ระบบจัดการแชท') ||\n    raw.includes('รับแชท') ||\n    raw.includes('คิวหลุด') ||\n    raw.includes('งานไม่หลุด')\n  ) {\n    return 'syncflow';\n  }\n\n  if (\n    raw === 'paa_air' ||\n    raw === 'paa' ||\n    raw === 'paair' ||\n    raw.includes('paa air') ||\n    raw.includes('pa air') ||\n    raw.includes('pa cooling') ||\n    raw.includes('paa cooling') ||\n    raw.includes('ล้างแอร์') ||\n    raw.includes('ซ่อมแอร์') ||\n    raw.includes('ติดตั้งแอร์')\n  ) {\n    return 'paa_air';\n  }\n\n  return null;\n}\n\nreturn items.map((item) => {\n  const json = item.json || {};\n  const userId = getUserId(json);\n\n  const explicitBrandSignal = [\n    json.brand_context,\n    json.brand,\n    json.brand_name,\n    json.business_name,\n    json.product_name,\n    json.caption,\n    json.message,\n    json.text,\n    json.raw_text,\n    json.notes,\n  ]\n    .filter((value) => value !== null && value !== undefined && String(value).trim() !== '')\n    .join(' ');\n\n  let brandContext = normalizeBrandContext(explicitBrandSignal);\n  let brandContextSource = brandContext ? 'explicit_input' : null;\n\n  if (!brandContext && userId && staticData.brand_context_by_user[userId]) {\n    const saved = staticData.brand_context_by_user[userId];\n    const expiresAt = new Date(saved.expires_at || 0).getTime();\n\n    if (Number.isFinite(expiresAt) && expiresAt > now) {\n      brandContext = normalizeBrandContext(saved.brand_context);\n      brandContextSource = 'saved_user_state';\n    } else {\n      delete staticData.brand_context_by_user[userId];\n    }\n  }\n\n  if (!brandContext) {\n    brandContext = 'paa_air';\n    brandContextSource = 'default_fallback';\n  }\n\n  return {\n    json: {\n      ...json,\n      userId: userId || json.userId,\n      user_id: userId || json.user_id,\n      brand_context: brandContext,\n      brand_context_source: brandContextSource,\n      brand_context_note:\n        brandContextSource === 'default_fallback'\n          ? 'No explicit brand_context or active saved state found; fallback to paa_air.'\n          : undefined,\n      real_posting_enabled: false,\n      posting_allowed: false,\n    },\n  };\n});"},"id":"394346c5-cd25-487a-aa8d-ad7bd7b1c616","name":"Resolve Brand Context from State1","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3680,-304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9baa16a8-a993-42e9-b758-4c0c1dcff17a","leftValue":"={{ $json.body?.events?.[0]?.source?.userId || '' }}","rightValue":"U8e00779dbd898b95946cf2fb0b691af2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"94836a94-a481-4d84-a186-45e62263825f","leftValue":"={{ $json.body?.events?.[0]?.message?.type || '' }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5024,-400],"id":"0bdd7be2-3c8b-4270-9d34-0a77431b5cfd","name":"Check Owner + Text Command1"},{"parameters":{"replyToken":"={{ $json.replyToken }}","messages":{"values":[{"text":"={{ String($json.reply_text || $json.owner_message || $json.message || 'รับคำสั่งแล้ว').trim() }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[-4352,-496],"id":"d82aa258-3935-4d45-88f9-612654d91148","name":"Line Messaging3","credentials":{"lineMessagingApi":{"id":"dv1qBRSHVe1Dx2vM","name":"Reel clip"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"d0d0cd3c-04a0-4a46-b821-8df30c31cef5","leftValue":"={{ $json.success === true }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4576,-496],"id":"950f053b-c785-467e-bd5a-b7bd95490cbb","name":"If1"},{"parameters":{"jsCode":"const body = $json.body || $json;\nconst errors = [];\n\nif (body.preview_only !== true) errors.push(\"preview_only_required\");\nif (body.real_posting_enabled !== false) errors.push(\"real_posting_must_be_false\");\nif (body.line_broadcast_enabled !== false) errors.push(\"line_broadcast_must_be_false\");\nif (body.schedule_enabled !== false) errors.push(\"schedule_must_be_false\");\n\nif (!body.brand_context) errors.push(\"brand_context_required\");\nif (!body.target_page_key) errors.push(\"target_page_key_required\");\nif (!body.selected_page_id) errors.push(\"selected_page_id_required\");\nif (!body.selected_page_name) errors.push(\"selected_page_name_required\");\n\nif (body.brand_context === \"syncflow\" && body.target_page_key !== \"syncflow\") {\n  errors.push(\"syncflow_page_mismatch\");\n}\n\nif (\n  (body.brand_context === \"paa\" || body.brand_context === \"paa_air\") &&\n  body.target_page_key !== \"paa_air\"\n) {\n  errors.push(\"paa_page_mismatch\");\n}\n\nconst accepted = errors.length === 0;\nreturn [\n  {\n    json: {\n      ok: accepted,\n      status: accepted ? 200 : 400,\n      endpoint: \"product-video-preview\",\n      terminal_branch: true,\n      preview_only: body.preview_only === true,\n      accepted,\n      errors,\n      audit: {\n        source: \"ai-content-studio\",\n        brand_context: body.brand_context || null,\n        target_page_key: body.target_page_key || null,\n        selected_page_id: body.selected_page_id || null,\n        selected_page_name: body.selected_page_name || null,\n        platform: body.platform || \"facebook_page\",\n        disabled_side_effects: [\n          \"real_posting\",\n          \"line_broadcast\",\n          \"schedule\",\n          \"renderer\",\n          \"phaya_openai_tts\",\n          \"line_image_download\",\n          \"s3_minio_upload\",\n          \"facebook_graph\",\n          \"mark_posted\"\n        ]\n      },\n      facebook_post_performed: false,\n      line_broadcast_performed: false,\n      schedule_triggered: false,\n      renderer_called: false,\n      phaya_called: false,\n      s3_uploaded: false,\n      mark_posted_performed: false,\n      created_at: new Date().toISOString()\n    }\n  }\n];"},"id":"e4ec8c71-241e-44a3-9b21-6318757af5d3","name":"Validate AI Studio Preview Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4800,3232]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":"={{ $json.status }}"}},"id":"7001a036-9615-4eda-b3e1-edeb9e836bb1","name":"Product Video Preview Audit Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-4576,3232]},{"parameters":{"httpMethod":"POST","path":"product-video-preview/render","responseMode":"responseNode","options":{}},"id":"b7e10a01-rend-4a00-b001-000000000001","name":"AI Studio Render Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-3680,160],"webhookId":"b7e10a01-rend-4a00-b001-000000000001"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const body = $json.body || $json;\n\nconst previewId = String(body.preview_id || body.campaign_id || '').trim();\nconst brandRaw   = String(body.brand_context || 'paa_air').trim().toLowerCase();\nconst brandCtx   = brandRaw.includes('sync') ? 'syncflow' : 'paa_air';\nconst brief      = String(body.brief || '').trim();\nconst caption    = String(body.marketing_caption || body.publish_caption || '').trim();\nconst assetId    = String(body.asset_id || '').trim();\nconst sceneScript = String(body.scene_script || '').trim();\nconst overlayTexts = String(body.overlay_texts || '').trim();\nconst selectedPages = Array.isArray(body.selected_pages) ? body.selected_pages : [];\nconst pageId   = String(body.selected_page_id || '').trim();\nconst pageName = String(body.selected_page_name || '').trim();\nconst pageKey  = String(body.target_page_key || brandCtx).trim();\n\nfunction clean(value) {\n  return String(value ?? '').trim();\n}\n\nfunction isAbsoluteHttpUrl(value) {\n  const s = clean(value);\n  return s.startsWith('https://') || s.startsWith('http://');\n}\n\nfunction uniq(values) {\n  const seen = new Set();\n  const out = [];\n  for (const value of values) {\n    const s = clean(value);\n    if (!s || seen.has(s)) continue;\n    seen.add(s);\n    out.push(s);\n  }\n  return out;\n}\n\nconst rawImageCandidates = [\n  ...(Array.isArray(body.image_urls)\n    ? body.image_urls\n    : (typeof body.image_urls === 'string' ? [body.image_urls] : [])),\n  body.public_image_url,\n  body.image_url,\n  body.source_image_url,\n  body.product_image_url,\n  body.input_image_url,\n  body.main_image_url,\n  body.uploaded_image_url,\n  body.primary_image_url,\n  body.cover_image_url,\n];\n\nlet imageUrls = uniq(rawImageCandidates).filter(isAbsoluteHttpUrl);\nconst studioAssetImageUrl = assetId\n  ? `https://studio.paaair.online/api/product-video/assets/${encodeURIComponent(assetId)}`\n  : '';\nif (!imageUrls.length && studioAssetImageUrl) {\n  imageUrls = [studioAssetImageUrl];\n}\nconst imageUrl = imageUrls[0] || '';\n\nif (!previewId) throw new Error('Missing preview_id or campaign_id');\nif (!brandCtx) throw new Error('Missing brand_context');\n\nreturn {\n  json: {\n    preview_id: previewId,\n    brand_context: brandCtx,\n    product_id: previewId,\n    job_id: 'render-' + previewId,\n\n    image_url: imageUrl,\n    image_urls: imageUrls,\n    public_image_url: imageUrl,\n    source_image_url: imageUrl,\n    product_image_url: imageUrl,\n\n    brief: brief,\n    marketing_caption: caption,\n    scene_script: sceneScript,\n    overlay_texts: overlayTexts,\n    selected_pages: selectedPages,\n    selected_page_id: pageId,\n    selected_page_name: pageName,\n    target_page_key: pageKey,\n\n    product_name: brief || (brandCtx === 'syncflow' ? 'ระบบจัดการแชทและงานบริการ' : 'บริการตรวจเช็กและซ่อมแอร์'),\n    target_customer: '',\n    pain_point: '',\n    benefits: '',\n    offer: '',\n    call_to_action: brandCtx === 'syncflow'\n      ? 'ทัก LINE เพื่อดูเดโม SyncFlow'\n      : 'ทัก LINE เพื่อสอบถามอาการแอร์',\n    visual_context: brief,\n\n    render_source: 'ai_studio_render',\n\n    real_posting_enabled: false,\n    posting_allowed: false,\n    line_broadcast_enabled: false,\n    schedule_enabled: false,\n  }\n};"},"id":"b7e10a01-rend-4a00-b001-000000000002","name":"Normalize AI Studio Render Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3456,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b7e10a01-cond-0001","leftValue":"={{ $json.render_source }}","rightValue":"ai_studio_render","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b7e10a01-rend-4a00-b001-000000000003","name":"Check Render Source","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1824,-352]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const json = $json;\n\nconst publicMediaUrl = String(\n  json.public_video_url || json.video_url || json.output_url || json.render_url || json.media_url || ''\n).trim();\n\nconst thumbnailUrl = String(\n  json.public_thumbnail_url || json.thumbnail_url || json.image_url || ''\n).trim();\n\nconst ok = Boolean(publicMediaUrl);\n\nreturn {\n  json: {\n    ok: ok,\n    status: ok ? 'rendered' : 'render_failed',\n    renderer_called: true,\n    public_media_url: publicMediaUrl || null,\n    thumbnail_url: thumbnailUrl || null,\n    media_type: 'video',\n    media_checksum: json.media_checksum || ('md5-' + (json.product_id || 'unknown')),\n    render_job_id: json.job_id || json.product_id || null,\n    preview_id: json.preview_id || json.product_id || null,\n    facebook_post_performed: false,\n    line_broadcast_performed: false,\n    schedule_enabled: false,\n    mark_posted_performed: false,\n    error: ok ? null : 'render_failed',\n  }\n};"},"id":"b7e10a01-rend-4a00-b001-000000000004","name":"Format Studio Render Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2048,-384]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseCode":"={{ $json.ok ? 200 : 500 }}"}},"id":"b7e10a01-rend-4a00-b001-000000000005","name":"AI Studio Render Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2272,-384]}],"connections":{"Video Script JSON Parser":{"ai_outputParser":[[{"node":"Generate PAA Air Script","type":"ai_outputParser","index":0},{"node":"Generate SyncFlow Script","type":"ai_outputParser","index":0}]]},"Merge Product + AI Script":{"main":[[{"node":"Safety Check","type":"main","index":0}]]},"Safety Check":{"main":[[{"node":"IF Script Safe","type":"main","index":0}]]},"IF Script Safe":{"main":[[{"node":"Normalize Voiceover Text","type":"main","index":0}],[{"node":"Notify Owner - Needs Review","type":"main","index":0}]]},"Normalize Voiceover Text":{"main":[[{"node":"Phaya Generate TTS","type":"main","index":0},{"node":"Generate Subtitles From Scenes","type":"main","index":0}]]},"Phaya Generate TTS":{"main":[[{"node":"Wait 35s For Phaya","type":"main","index":0}]]},"Wait 35s For Phaya":{"main":[[{"node":"Poll Phaya TTS Status","type":"main","index":0}]]},"Poll Phaya TTS Status":{"main":[[{"node":"IF Phaya Completed","type":"main","index":0}]]},"IF Phaya Completed":{"main":[[{"node":"Merge Subtitle + Audio","type":"main","index":1}],[{"node":"Wait 10s Retry Phaya","type":"main","index":0}]]},"Wait 10s Retry Phaya":{"main":[[{"node":"Poll Phaya TTS Status Retry","type":"main","index":0}]]},"Poll Phaya TTS Status Retry":{"main":[[{"node":"IF Phaya Completed Retry","type":"main","index":0}]]},"IF Phaya Completed Retry":{"main":[[{"node":"Merge Subtitle + Audio","type":"main","index":1}],[{"node":"Notify Owner - TTS Not Ready","type":"main","index":0}]]},"Generate Subtitles From Scenes":{"main":[[{"node":"Merge Subtitle + Audio","type":"main","index":0}]]},"Merge Subtitle + Audio":{"main":[[{"node":"Build Render Payload","type":"main","index":0}]]},"Build Render Payload":{"main":[[{"node":"Validate Render Payload","type":"main","index":0}]]},"Validate Render Payload":{"main":[[{"node":"IF Use Mock Render","type":"main","index":0}]]},"IF Use Mock Render":{"main":[[{"node":"Mock Render Result","type":"main","index":0}],[{"node":"Call Render Service","type":"main","index":0},{"node":"Merge Render Payload + Result","type":"main","index":0}]]},"Call Render Service":{"main":[[{"node":"Merge Render Payload + Result","type":"main","index":1}]]},"Mock Render Result":{"main":[[{"node":"Normalize Render Result + Approval Links","type":"main","index":0}]]},"Merge Render Payload + Result":{"main":[[{"node":"Normalize Render Result + Approval Links","type":"main","index":0}]]},"Normalize Render Result + Approval Links":{"main":[[{"node":"Line Messaging","type":"main","index":0}]]},"Approval Webhook":{"main":[[{"node":"Validate Approval Token","type":"main","index":0}]]},"Validate Approval Token":{"main":[[{"node":"Check Approval Action","type":"main","index":0}]]},"Check Approval Action":{"main":[[{"node":"Update Status - Approved","type":"main","index":0}],[{"node":"Update Status - Rejected","type":"main","index":0}]]},"Check Posting Allowed":{"main":[[{"node":"Prepare Post Plan","type":"main","index":0}],[{"node":"Log - Posting Disabled","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Generate PAA Air Script","type":"ai_languageModel","index":0},{"node":"Generate SyncFlow Script","type":"ai_languageModel","index":0}]]},"Line Messaging":{"main":[[{"node":"Log Workflow Execution","type":"main","index":0}]]},"Generate PAA Air Script":{"main":[[{"node":"Normalize Script Output1","type":"main","index":0}]]},"Generate SyncFlow Script":{"main":[[{"node":"Normalize Script Output1","type":"main","index":0}]]},"Normalize Script Output1":{"main":[[{"node":"Merge Product + AI Script","type":"main","index":1}]]},"Set Brand Context":{"main":[[{"node":"Switch Brand Context","type":"main","index":0}]]},"Generate PAA Air Prompt":{"main":[[{"node":"Normalize Script Output","type":"main","index":0}]]},"Generate SyncFlow Prompt":{"main":[[{"node":"Normalize Script Output","type":"main","index":0}]]},"LINE Webhook1":{"main":[[{"node":"Check Owner + Text Command","type":"main","index":0}]]},"Check Owner + Message Type1":{"main":[[{"node":"Extract Image ID1","type":"main","index":0}]]},"Extract Image ID1":{"main":[[{"node":"Download Image from LINE1","type":"main","index":0}]]},"Download Image from LINE1":{"main":[[{"node":"Upload a file1","type":"main","index":0}]]},"Upload a file1":{"main":[[{"node":"Build Public Image URL1","type":"main","index":0}]]},"Build Public Image URL1":{"main":[[{"node":"Resolve Brand Context from State","type":"main","index":0}]]},"Normalize LINE Image Input for Main Flow":{"main":[[{"node":"Set Brand Context","type":"main","index":0},{"node":"Merge Product + AI Script","type":"main","index":0}]]},"Save Brand Context Command":{"main":[[{"node":"If","type":"main","index":0}]]},"Resolve Brand Context from State":{"main":[[{"node":"Normalize LINE Image Input for Main Flow","type":"main","index":0}]]},"Check Owner + Text Command":{"main":[[{"node":"Save Brand Context Command","type":"main","index":0}],[{"node":"Check Owner + Message Type1","type":"main","index":0}]]},"If":{"main":[[{"node":"Line Messaging2","type":"main","index":0}]]},"Hermes Select Approved FB Video":{"main":[[{"node":"Hermes Guard FB AutoPost","type":"main","index":0}]]},"Hermes Guard FB AutoPost":{"main":[[{"node":"Hermes IF FB AutoPost Allowed","type":"main","index":0}]]},"Hermes IF FB AutoPost Allowed":{"main":[[{"node":"Hermes Facebook Graph Video Post","type":"main","index":0}],[{"node":"Hermes FB AutoPost Blocked","type":"main","index":0}]]},"Hermes Facebook Graph Video Post":{"main":[[{"node":"Hermes Mark FB Posted","type":"main","index":0}]]},"Video Script JSON Parser1":{"ai_outputParser":[[{"node":"Generate PAA Air Script1","type":"ai_outputParser","index":0},{"node":"Generate SyncFlow Script1","type":"ai_outputParser","index":0}]]},"Merge Product + AI Script1":{"main":[[{"node":"Safety Check1","type":"main","index":0}]]},"Safety Check1":{"main":[[{"node":"IF Script Safe1","type":"main","index":0}]]},"IF Script Safe1":{"main":[[{"node":"Normalize Voiceover Text1","type":"main","index":0}],[{"node":"Notify Owner - Needs Review1","type":"main","index":0}]]},"Normalize Voiceover Text1":{"main":[[{"node":"Phaya Generate TTS1","type":"main","index":0},{"node":"Generate Subtitles From Scenes1","type":"main","index":0}]]},"Generate Subtitles From Scenes1":{"main":[[{"node":"Merge Subtitle + Audio1","type":"main","index":0}]]},"Phaya Generate TTS1":{"main":[[{"node":"Wait 35s For Phaya1","type":"main","index":0}]]},"Wait 35s For Phaya1":{"main":[[{"node":"Poll Phaya TTS Status1","type":"main","index":0}]]},"Poll Phaya TTS Status1":{"main":[[{"node":"IF Phaya Completed1","type":"main","index":0}]]},"IF Phaya Completed1":{"main":[[{"node":"Merge Subtitle + Audio1","type":"main","index":1}],[{"node":"Wait 10s Retry Phaya1","type":"main","index":0}]]},"Wait 10s Retry Phaya1":{"main":[[{"node":"Poll Phaya TTS Status Retry1","type":"main","index":0}]]},"Poll Phaya TTS Status Retry1":{"main":[[{"node":"IF Phaya Completed Retry1","type":"main","index":0}]]},"IF Phaya Completed Retry1":{"main":[[{"node":"Merge Subtitle + Audio1","type":"main","index":1}],[{"node":"Notify Owner - TTS Not Ready1","type":"main","index":0}]]},"Merge Subtitle + Audio1":{"main":[[{"node":"Build Render Payload1","type":"main","index":0}]]},"Build Render Payload1":{"main":[[{"node":"Validate Render Payload1","type":"main","index":0}]]},"Validate Render Payload1":{"main":[[{"node":"IF Use Mock Render1","type":"main","index":0}]]},"IF Use Mock Render1":{"main":[[{"node":"Mock Render Result1","type":"main","index":0}],[{"node":"Call Render Service1","type":"main","index":0},{"node":"Merge Render Payload + Result1","type":"main","index":0}]]},"Mock Render Result1":{"main":[[{"node":"Normalize Render Result + Approval Links1","type":"main","index":0}]]},"Call Render Service1":{"main":[[{"node":"Merge Render Payload + Result1","type":"main","index":1}]]},"Merge Render Payload + Result1":{"main":[[{"node":"Normalize Render Result + Approval Links1","type":"main","index":0}]]},"Normalize Render Result + Approval Links1":{"main":[[{"node":"Check Render Source","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Generate PAA Air Script1","type":"ai_languageModel","index":0},{"node":"Generate SyncFlow Script1","type":"ai_languageModel","index":0}]]},"Line Messaging1":{"main":[[{"node":"Log Workflow Execution1","type":"main","index":0}]]},"Generate PAA Air Script1":{"main":[[{"node":"Normalize Script Output2","type":"main","index":0}]]},"Generate SyncFlow Script1":{"main":[[{"node":"Normalize Script Output2","type":"main","index":0}]]},"Normalize Script Output2":{"main":[[{"node":"Merge Product + AI Script1","type":"main","index":1}]]},"Set Brand Context1":{"main":[[{"node":"Switch Brand Context1","type":"main","index":0}]]},"LINE Webhook":{"main":[[{"node":"Validate AI Studio Preview Payload","type":"main","index":0}]]},"Check Owner + Message Type":{"main":[[{"node":"Extract Image ID","type":"main","index":0}]]},"Extract Image ID":{"main":[[{"node":"Download Image from LINE","type":"main","index":0}]]},"Download Image from LINE":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Build Public Image URL","type":"main","index":0}]]},"Build Public Image URL":{"main":[[{"node":"Resolve Brand Context from State1","type":"main","index":0}]]},"Normalize LINE Image Input for Main Flow1":{"main":[[{"node":"Set Brand Context1","type":"main","index":0},{"node":"Merge Product + AI Script1","type":"main","index":0}]]},"Save Brand Context Command1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Resolve Brand Context from State1":{"main":[[{"node":"Normalize LINE Image Input for Main Flow1","type":"main","index":0}]]},"Check Owner + Text Command1":{"main":[[{"node":"Save Brand Context Command1","type":"main","index":0}],[{"node":"Check Owner + Message Type","type":"main","index":0}]]},"If1":{"main":[[{"node":"Line Messaging3","type":"main","index":0}]]},"Validate AI Studio Preview Payload":{"main":[[{"node":"Product Video Preview Audit Response","type":"main","index":0}]]},"AI Studio Render Webhook":{"main":[[{"node":"Normalize AI Studio Render Input","type":"main","index":0}]]},"Normalize AI Studio Render Input":{"main":[[{"node":"Set Brand Context1","type":"main","index":0},{"node":"Merge Product + AI Script1","type":"main","index":0}]]},"Check Render Source":{"main":[[{"node":"Format Studio Render Response","type":"main","index":0}],[{"node":"Line Messaging1","type":"main","index":0}]]},"Format Studio Render Response":{"main":[[{"node":"AI Studio Render Response","type":"main","index":0}]]},"Switch Brand Context1":{"main":[[{"node":"Generate PAA Air Script1","type":"main","index":0}],[{"node":"Generate SyncFlow Script1","type":"main","index":0}]]},"Switch Brand Context":{"main":[[{"node":"Generate PAA Air Script","type":"main","index":0}],[{"node":"Generate SyncFlow Script","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"global":{"brand_context_by_user":{"U8e00779dbd898b95946cf2fb0b691af2":{"brand_context":"syncflow","user_id":"U8e00779dbd898b95946cf2fb0b691af2","saved_at":"2026-06-04T12:05:55.215Z","expires_at":"2026-06-04T12:15:55.215Z"}}}},"meta":null,"pinData":{"LINE Webhook1":[{"json":{"headers":{"host":"admin.paaair.online","user-agent":"LineBotWebhook/2.0","content-length":"816","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"147.92.150.195","cf-ipcountry":"JP","cf-ray":"a050fb253afccbbd-NRT","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json; charset=utf-8","via":"2.0 Caddy","x-forwarded-for":"172.64.215.158","x-forwarded-host":"admin.paaair.online","x-forwarded-proto":"https","x-line-signature":"QZX8p8q2X2QoEmRI6xLI2PCVcEy829zKz0CBLVsPJg0="},"params":{},"query":{},"body":{"destination":"U2004ea369a09e4b40675e87feca8f975","events":[{"type":"message","message":{"type":"image","id":"616587136212140050","quoteToken":"jYGRnk1WiX6T06HtCZhAIEUcMSlpKhsdM-4ZbuRn0sIvByS8tNIL_RMXzVWUQOLz53QWOBsBkPyemwIS9f05FSMi19GmFB3s7SiVcAd1Is6oNSmtG4_m_W92aLXZv5SHskTGzxHToQjjOqfI84kPBQ","markAsReadToken":"LwnnjmfhRqx6OR0CbTSpZIh84d7ufuCLpICWT8czafiVz-csKwFalnC9elptkxawzbarYYrU5pn4SziE61nPjQgQkrbCcXsu5Ek0MoEF28vpLGOnEoeh2aOSr-gC8tKQw-kuD61BX_WCRowcs4RePaUkYBPQJKhyK3KlZd_PWW33P2Y4551NugH0V00LCFrZ8aMFWiGHm7512nYNvrRiJQ","contentProvider":{"type":"line"}},"webhookEventId":"01KT2E4CPDXDCCNWWKH77WQM09","deliveryContext":{"isRedelivery":false},"timestamp":1780345876693,"source":{"type":"user","userId":"U8e00779dbd898b95946cf2fb0b691af2"},"replyToken":"dd706ce4dfce447aaefcdf69f813f8ef","mode":"active"}]},"webhookUrl":"https://admin.paaair.online/webhook/line-image","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"559bce11-20a6-4ccd-a93a-50304624a956","activeVersionId":"559bce11-20a6-4ccd-a93a-50304624a956","versionCounter":84,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2026-06-01T20:28:10.298Z","createdAt":"2026-06-01T20:28:10.298Z","role":"workflow:owner","workflowId":"ETRPSAUy7Up0bQwb","projectId":"XoM5tFYOLwLDEnv5","project":{"updatedAt":"2025-08-25T20:24:39.812Z","createdAt":"2025-08-25T20:23:53.881Z","id":"XoM5tFYOLwLDEnv5","name":"akanit phiphatphan <akanitph.ph@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"e878e930-9df0-4d22-bf08-7be882d57174"}}],"versionMetadata":{"name":"Version 6abeb9db","description":""}}]